[2016-01-22 09:29] pwalsh opened #1 "Localisation and internationalisation support on the platform"
Important, but not guaranteeing full implementation for phase 1.

This means the simple things like having the codebase/templates etc translatable, but also more complicated things like data in multiple languages.

[2016-01-22 10:38] pwalsh opened #2 "Late reporting metrics"
ClinicalTrials.gov now shows when a trial has asked for permission to delay the publication of results. Previously if someone seemed to be late reporting a trial you didn't know if they had permission to be late.

This data point can enable some very useful metrics on OpenTrials.

Examples:
- the top 5 worst companies for overdue results
- the top 5 worst US universities for overdue results

[2016-01-22 10:42] pwalsh opened #3 "Handling fraudulent studies"
If a trial is uncovered as fraudulent:
- How do we know?
- What can we do?

Signals:
- If authors have had papers retracted
- Correspondence where people have serious concerns
- Discoverability of critiques is an issue

Actions:
- Can link to any publicly avaialble commentary - citations data w rich info - pubmed commons

[2016-01-22 10:44] pwalsh opened #4 "Follow an object: (trial, condition, intervention, others?)"
Notifications when info created or modified in relation to object.

[2016-01-22 10:49] pwalsh opened #5 "Crowdsourcing FOI-like data requests"
Embedded into the user experience.

Some possible user flows:
- Looking at a trial, want to see more data, know there much be more data
  - Action to "contact the {INVESTIGATOR|SPONSOR|ETC} for request additional information on this trial"
    - Email send by OpenTrials on behalf of user X
- Desired data sources page: page we create, for datasources we want open, but that are not
  - Action to "he

[2016-01-23 09:59] pwalsh opened #6 "Contact principal investigators of trials"
Have a semi-automated flow to contact relevant people on a trial, to ask them to
- confirm information is accurate
- possibly provide additional information to add to our trial record (things that were never published due to publication constraints, for example)

[2016-01-23 11:17] pwalsh opened #7 "Crowdsource enhancement of OCR results"

[2016-01-23 11:20] pwalsh opened #8 "MVP for crowdsourcing record matching"
Various angles on this, and some relates to things we need to develop for OpenSpending too, and therefore we'll investigate this in relation to https://discuss.okfn.org/t/entity-reconciliation-services/1785/3

Whatever we'd implement for Phase 1 of OpenTrials would be some primitive form of:
1. Indicate if you think we have matched incorrectly
2. Indicate a match we have not automated

[2016-01-23 11:23] pwalsh opened #9 "Export data to a citation manager"
Presumably a major one, or some open format supported by several, if such a thing exists.

[2016-01-23 11:27] pwalsh opened #10 "Crowdsource lay summaries"
In context when viewing a given trial. Use templates to create a nice structure for crowdsourced summaries. Cochrane has some tested/effective templates for this.

[2016-01-23 12:15] pwalsh opened #11 "Country / Location as a core dimension"
And we can resolve identifiers with https://github.com/openspending/cosmopolitan

[2016-01-23 13:23] pwalsh opened #12 "Use the GET-IT API for plain language definitions of terms"
http://getitglossary.org

[2016-01-23 13:36] pwalsh opened #13 "Transparency ranking"
Algorithm: how and why
Slices: by funding body, by location, by principal investigator, etc. etc.

[2016-01-23 13:38] pwalsh opened #14 "Search strategies as an entity in the domain model"
Via advanced search, used by domain experts: a kind of crowd sourcing for relations between things.

[2016-01-23 13:39] pwalsh opened #15 "Bulk export/access to database: as DataPackage"
# Description

The [scraper](https://github.com/opentrials/scraper) collects data from various data sources. This data forms the spine of our database, threading together core information on clinical trials, and providing the context for us to match other data sources onto these trials from a variety of sources.

While the OpenTrials API will provide a query and search interface to all data we gat

[2016-01-23 13:47] pwalsh opened #16 "Citation widget for each trial page"
A solid data model for citation that pulls in the licenses, and relevant entities for citation from all the sources that are used to populate a page.

[2016-01-23 20:08] pwalsh opened #17 "Integrate with CrossRef APIs for additional record information"
- http://www.crossref.org/crossmark/PublishersPubRecInfo.htm
- http://www.crossref.org/crossmark/Affiliates.htm
- http://www.crossref.org/crossmark/Libraries.htm
- https://github.com/CrossRef/rest-api-doc/blob/master/rest_api.md
- http://blog.crossref.org/2016/01/linking-clinical-trials-enriched-metadata-and-increased-transparency.html

[2016-01-28 07:28] pwalsh opened #18 "Integrate with hypothes.is"
- As an annotation interface
- As a data source for trials

[2016-01-28 07:34] pwalsh opened #19 "UI/X design: iteration 1"
# Description

Core views for the main OpenTrials app. Prior work has been done, but we need to revisit according to style guide and current understanding of public-facing features.

# Tasks

- [x] Update style guide, if required
- [x] Home page with search
  - The original mock has the boxes for different user types. We dont want that now. All we want is:
    - The title, brief text to pitch the

[2016-01-28 07:47] pwalsh opened #20 "App implementation: iteration 1"
# Description

First iteration of the frontend OpenTrials app. Implements the initial design and bootstraps the app views, routers, etc. etc. Data for the app comes from the [OpenTrials API](https://github.com/opentrials/api), which can be mocked at this stage.

Current intention is that this would be a Node.js app and probably queries API via some hybrid of backend/frontend. In general, I'd like

[2016-01-28 07:50] pwalsh opened #21 "App implementation: iteration 2"
# Description

Integrate data via API with the basic frontend views.

Requires #20 and availability of services from https://github.com/opentrials/api

# Tasks

* [ ] TBD

[2016-02-11 10:02] threeaims opened #22 "List of sponsors and funders request"
I’m planning to put together a glossary of terms for the public, including what “Sponsor” and “Funder” mean. I’d really love to be able to link to either a page (or an API end point) that listed all distinct sponsor names from the scraping so far, and the number of times they appear in the database (not worrying about de-duplicating names or counts), ordered with the names that appear most nearer

[2016-02-19 18:14] vitorbaptista opened #23 "Implement trial details page"

[2016-02-26 15:39] vitorbaptista commented on #23
Done

[2016-02-26 15:39] #23 closed

[2016-02-26 15:40] vitorbaptista opened #26 "Add search page"
Depends on https://github.com/opentrials/api/issues/10

[2016-02-26 17:18] tfmorris commented on #22
I would hope that the database is organized around uniquely identified entities, not random unnormalized, non-deduplicated names.

[2016-03-02 05:30] roll commented on #2
I can't find where this information is located on clinicaltrials.gov.

[2016-03-09 18:25] vitorbaptista opened #28 "Add search filters"
Depends on #26

[2016-03-09 18:27] vitorbaptista opened #29 "Validate URL parameters"
For example, `per_page` must be numeric, etc. We'll probably use [joi](https://www.npmjs.com/package/joi) for it.

[2016-03-14 13:58] roll opened #30 "Rename problems to conditions?"
Across our cards and repositories we use `conditions` term like here - https://github.com/opentrials/conditions.

In `database` we have `problems` instead of conditions when `condition is a type of a problem` like `drug is a type of an intervention` (we use here some symmetry).

The reason - trials have problems like `smoking influence on health people` (e.g.) which is probably not a `condition`.

[2016-03-14 14:09] roll opened #31 "Unified deployment"
We use different environment variables across the whole project. It's used by apps (via `.env` files), set on Travis CI/CD, sometimes exported (`set -a; source .env`) to dev env for `docker-compose`.

I suppose the good practice will be to have some naming conventions like:
- to have `OPENTRIALS_` prefix to avoid naming collision with other projects because of the exporting for the `docker-compose

[2016-03-14 14:12] roll commented on #30
cc @vitorbaptista @pwalsh @threeaims

[2016-03-14 14:12] roll commented on #31
cc @vitorbaptista @pwalsh

[2016-03-14 15:07] roll opened #32 "High-level project components"
#### Overview

After having new iterations on `warehouse` repository I've updated high-level diagram of a project components. I've found some tight coupling inside `processors` and other things to change it to a new look.

Also I've discovered a possibility of renaming `scraper` repo to `collectors` (or something similiar like [here](https://camo.githubusercontent.com/f57c7600b665fc24f8ebf72992485

[2016-03-14 15:16] roll commented on #32
cc @vitorbaptista @pwalsh @threeaims

So after all this scraper/warehouse work on data providing side I see the best and most flexible and maintainable way is to have `collectors` repo (instead of `scraper`) and `processors` repo (or something similar instead of `warehouse`) for all data providing stuff (for now and future I suppose).

[2016-03-14 16:41] pwalsh commented on #32
@roll

excellent. I'd suggest the following:

1. Rename the repos as you indicate.
2. Start to collect these excellent diagrams and thoughts in https://github.com/opentrials/meta so we can keep working on it and fashion it into docs in the coming months.

[2016-03-14 16:42] pwalsh commented on #30
oh ok. not sure how to proceed on it right now though. great find.

[2016-03-14 16:54] roll commented on #32
@pwalsh

Great. Also wanted to ask where to put docs we're starting to collect (like docker-cloud stacks disclaimer or env variables naming conventions e.g. if we will decide to follow something).

So it's `meta` repo. It was obvious just wanted to be sure.

[2016-03-14 16:59] pwalsh commented on #32
Yes. Actually let's rename it to docs too? Because this is a big project, we should probably use MkDocs as the builder, which is markdown but still runs on Read the Docs. That is what I am doing for OpenSpending now: https://github.com/openspending/docs

[2016-03-14 17:01] roll commented on #32
IMO `docs` sounds more intuitive

[2016-03-14 17:02] pwalsh commented on #32
great, so you can rename

[2016-03-14 17:08] roll commented on #32
ok will do

@pwalsh do you think will it not be a inconvenience for website devs to have a project issue tracker merged to one of app issue tracker? I suppose it's for simplifying to get feedback from users (entry point with a good name).

I'm asking because for me it was more natural to put this issue for repo like `meta/docs/project` (like root repo for the project).

Not important just curious.

[2016-03-15 09:22] roll opened #34 "Setup docs on readthedocs with mkdocs"
Repository - https://github.com/opentrials/docs
Example - https://github.com/openspending/docs

[2016-03-15 10:57] amercader opened #35 "Add install instructions"
How does someone get set up with this? Even a couple of line would do

[2016-03-15 11:13] #28 closed

[2016-03-15 11:14] vitorbaptista commented on #26
Fixed

[2016-03-15 11:14] #26 closed

[2016-03-15 11:17] roll commented on #32
FIXED

[2016-03-15 11:17] #32 closed

[2016-03-15 11:35] vitorbaptista commented on #31
Considering that the deployments are isolated inside Docker or Heroku, do we need to add a `OPENTRIALS_` prefix? I mean, there won't be another app running in that environment, so we should never have name collisions (if we do, there's a bug somewhere).

Also, we shouldn't add the current environment name to the env name as in `OPENTRIALS_DATABASE_URL_STAGING`, but have one canonical like `OPENTRI

[2016-03-15 12:22] pwalsh commented on #31
@vitorbaptista several containers can be running on one host/cluster. the env vars are true across the host/cluster on Docker Cloud (hope I'm not mistaken there). So, we *may* need that. @roll can you confirm?

[2016-03-15 14:24] roll commented on #31
The main reason we need this because `docker-compose` doesn't properly support `.env` files. So for run `docker-compose` locally developer should export environment variables to the local bash process (here will be collisions with other projects).

For production it's fine to do not have prefix ibut for dev is highly recommended. Also for me it's just a good practice to start with prefixes to do n

[2016-03-15 14:29] roll commented on #31
With docker-cloud workflow I suppose we should because all our environment variables will be stored here - https://travis-ci.org/opentrials/api/settings - nothing else will go to app containers. So it looks like to support staging env we need to pass variables with env modifier and manage it on app level like:

[code]
[code]

[2016-03-15 15:15] vitorbaptista commented on #31
I have no experience with docker-compose, just starting to see how things fit together with Tutum, but they do seem to support .env files (as per https://docs.docker.com/compose/compose-file/). Also, the environment variables shouldn't be "global", but only applied to the server process. There's no harm in using the prefixes, though, so I'm happy to add them.

The plan is to automatically deploy t

[2016-03-15 15:39] roll commented on #31
@vitorbaptista Yes of course it will be `ENV` var:

[code]

[code]

Problem here is docker-cloud don't have env vars settings section (because of containers nature) like heroku so all information should be passed while Travis deploy. We have only one travis project for repository - is means we have to pass sensitive data with environment markers.

About deployment for now it deploys only on commit

[2016-03-15 15:44] roll commented on #31
Sorry second listing was for `stacks/api--staging.yml` (fixed).

[2016-03-15 15:46] pwalsh commented on #31
@roll you can set env vars in the Docker Cloud UI, just like with Heroku, so there is no need to hard code values in codebase, as far as I see.

[2016-03-15 15:56] roll commented on #31
@pwalsh how? only in stack definitions AFAIK - I've setup travis to do it automatically.

It's not about hard-coding in codebase of course (it's our credentials=). Everything live here - https://travis-ci.org/opentrials/processors/settings - creating stacks with this values.

[2016-03-15 15:57] pwalsh commented on #31
yes, you are right, only as part of a stack definition.

[2016-03-15 16:09] roll commented on #31
High-level:

- stack files in codebase (in `stacks` dir) like templates for tutum without env vars (also it's for local `docker-compose` runs)
- env vars in travis settings
- travis renders stack files with env vars and push to tutum

With this approach we only have one place to store all our env vars - travis settings. So don't have a place to have env for staging. So it should store both stage/p

[2016-03-16 07:06] roll commented on #31
Morning) As I said we was discussing just a details. So I've figured out how to add some details to make it fully `12 Factor App` like:

1. In `stacks` directory we having stacks **without** environment modifiers like:

[code]

2. At travis we have all creadentials set to secure env vats in settings:

[code]

3. In travis file we have deployment router based on commit message (could be rebased on

[2016-03-16 10:57] pwalsh opened #36 "Build a lookup file for integration with ContentMine"
# Description

We are integrating with ContentMine ( http://contentmine.org ) to find references to clinical trials in academic literature. The ContentMine API is not live, but we can provide the team with a file of terms to match against for testing.

# Tasks

* [ ] Export a list of identifiers as per the data structure below
* [ ] Submit as a PR on https://github.com/ContentMine/dictionaries as

[2016-03-16 13:04] roll commented on #36
Thanks, it's clear.

[2016-03-16 16:27] vitorbaptista opened #37 "Setup Docker"

[2016-03-22 11:29] vitorbaptista opened #39 "Limit number of search results"
Related to https://github.com/opentrials/api/issues/20

[2016-03-22 16:09] vitorbaptista commented on #37
Done

[2016-03-22 16:09] #37 closed

[2016-03-22 16:14] vitorbaptista opened #40 "Implement new mockups"
The layout is at http://opentrials.github.io/mockups/trial.html. There're a few functionalities that won't be done in this issue (e.g. uploading, flagging documents, etc.)

[2016-03-23 13:02] roll opened #41 "Move elasticsearch indexing to processors?"
I'm not sure how does it work for now - when reindexing happens.

When our system will grow I suppose there should be a long-running `processors` stack updating search index in real time.

@vitorbaptista WDYT?

[2016-03-25 17:14] vitorbaptista commented on #40
- [ ] The `advanced search` part must be visible by default when a user visits a page with any advanced criteria.

[2016-03-25 17:46] vitorbaptista commented on #40
- [ ] Check the styling on Firefox, specially the `input[date]` fields;
- [ ] Improve the registration date styling;
- [ ] Place the metadata (registration date, conditions, ...) horizontally in the search results

[2016-03-29 20:26] vitorbaptista commented on #40
@smth I've changed a few things in your mockup that I would like you to review whenever you can:

* Advanced search's "Search" button is in a newline by itself, because otherwise its positioning looks weird beside the "Registration date" filter;
* Advanced search controls now have 2 instead of 3 columns, because the "Registration date" fields ended up too small. Maybe we could have 3 columns on la

[2016-03-31 09:24] vitorbaptista commented on #31
@roll What if we kept the environment variables in Docker Cloud instead of Travis? I think we can avoid the problems that your solutions number `2` and `4` are fixing.

Say we keep the file `stacks/api.yml` as you describe, but when deploying on Travis, instead of fixing the env variables and running `tutum` CLI, we simply build the docker image and push to Docker Hub. "Deployment", in this contex

[2016-04-04 06:58] smth commented on #40
There doesn't seem to be anything to see at that link. The changes sound sensible though.

[2016-04-04 07:50] #11 closed

[2016-04-04 07:51] pwalsh commented on #19
DONE

[2016-04-04 07:51] #19 closed

[2016-04-04 07:58] pwalsh commented on #34
DONE

[2016-04-04 08:01] pwalsh commented on #41
I'd say the script that writes the database should also build the index (or, triggered along with)?

[2016-04-04 08:04] pwalsh commented on #31
@roll @vitorbaptista we are moving to Heroku for main app deployment, and we'll keep using Docker Cloud for the collectors. I'll keep this issue open on the backlog.

[2016-04-04 08:06] pwalsh commented on #30
Looks like you've already moved to "problem", so I'll close this. Definitely the advice was to use "condition", but we can look at this again if it becomes an actual issue.

[2016-04-04 08:08] pwalsh commented on #21
Closing in favor of more specific issues.

[2016-04-04 08:08] #21 closed

[2016-04-04 08:09] pwalsh commented on #20
Closing in favor of more specific issues.

[2016-04-04 08:09] #20 closed

[2016-04-04 10:34] pwalsh opened #43 "Integrate with PubMed as a data source"
# Description

PubMed is a rich source of information on academic publications that can be related to clinical trials. We want to extract information from PubMed with the two following, broad goals:

- Match Academic publications to trials
- Provide more meta data/data for given trials that may be accessible via PubMed, but was not uncovered from the registers

Trial results reported in journals s

[2016-04-04 10:37] pwalsh opened #44 "Initial data acquisition for intervention data"
# Description

Choose top 1-2 targets from https://github.com/opentrials/interventions

# Tasks

* [ ] icd-10-pcs - https://www.cms.gov/Medicare/Coding/ICD10/2016-ICD-10-PCS-and-GEMs.html
* [ ] fda - https://open.fda.gov/drug/label/

[2016-04-04 10:38] pwalsh opened #45 "Initial data acquisition for condition data"
# Description

Choose top 1-2 targets from https://github.com/opentrials/conditions

# Tasks

* [ ] icd-10-cm - http://www.cdc.gov/nchs/icd/icd10cm.htm

[2016-04-04 10:40] pwalsh opened #46 "Collectors: improvements"
### Base

- [x] remove `OPENTRIALS_` prefix from env vars?
- [x] ~~item - required fields (pk etc)~~
- [x] improve array, json fields
- [x] ~~sync with `database` on names of meta fields (created/updated/etc)?~~
- [x] rename `Item` to `Record` for consistency across the project?
- [x] replace json by jsonb (in migration it's already jsonb so it has to be synced with production manually!)
- [x] ~~r

[2016-04-04 10:43] pwalsh opened #47 "Migrate collectors, processors to Docker Cloud and PaperTrail"
@roll

It looks like the same old Tutum. I suppose it's just like change few hosts.

https://support.tutum.co/support/solutions/articles/13000003644-tutum-to-docker-cloud-migration-guide

# Tasks

* [x] Migrate to Docker Cloud
* [x] Drain logs to PaperTrail (@pwalsh has creds)

[2016-04-04 12:36] roll opened #48 "Processors: improvements"
### Base

- [x] remove `OPENTRIALS_` prefix from env vars?
- [x] check `facts` search uses index
- [x] add time checks for `mapper` stack - map only updated/created items (https://github.com/opentrials/opentrials/issues/105)
- [x] improve papertrail logging formatter (https://github.com/opentrials/opentrials/issues/86)
- [x] remove `trials_trialrecords` table because it's not a `m2m` relationship?

[2016-04-04 12:38] roll opened #49 "High-level requirements for robust de-dupe and record matching across trials, interventions and condition"
@pwalsh
# Descriptions

In consultation with some domain experts who have been doing some work on this data towards de-duplication and record matching, work towards a spec that would enable us to implement smarter algorithms for automated matching.
# Tasks
- [ ] TBD

[2016-04-04 12:40] roll opened #50 "Diff reports across threaded trial records"
@pwalsh

# Description

Clinical trial data is published in a range of places, including over multiple trial registers. It is a known issue that different publications can declare discrepant facts on a trial. When we have a set of threaded records, we want to run a "diffing" algorithm over the records and pull out these discrepancies as data points in their own right.

# Tasks

* [x] Write a diff

[2016-04-04 12:41] roll opened #51 "UI/X to assist crowdsourcing de-dupe/record matching"
@pwalsh

# Description

We are dealing with large amounts of data, and making associations between a variety of different records.

In some cases, we can make exact match association automatically, based on, for example, unique identifiers for trials.

In other cases, we can make decent guesses - strong enough to actually declare an association - but we may be wrong.

In yet other cases, we may ha

[2016-04-04 12:50] pwalsh commented on #51
I'm closing this as, after much thought, we are going to do a specific solution for OpenTrials rather than try to do some general solution, so, will open specific related tickets.

[2016-04-04 12:50] #51 closed

[2016-04-04 14:30] pwalsh opened #52 "Use ElasticSearch version compatible with AWS"
https://aws.amazon.com/elasticsearch-service/

[2016-04-04 14:35] pwalsh opened #53 "Allow the user to clear the current search query"
# Description

A list of bugs and enhancements that target the search interface in simple and advanced mode.

# Tasks

* [x] Have UI element to clear the current query from the free text box ([x] next to search icon, like google search)
* [x] Have a UI element to clear all the advanced search options

[2016-04-04 14:40] pwalsh opened #54 "Some advanced search fields need to combine text + select interface"
As [seen here](https://github.com/opentrials/opentrials/issues/19#tasks), several elements of the advanced query form are supposed to support free text *+* select input entry, including multiple selection ("free text, with suggest, can select multiple").

On the currently implemented form, this should be evident on the location element.

This is a very important ux feature, so let's get it in plac

[2016-04-04 14:46] pwalsh opened #55 "Expose additional fields of data to the advanced search form"
# Description

Search is an important pathway to data exploration, and search queries will become a more important aspect of our data structure in the future ([see user stories in section a](https://github.com/opentrials/docs/blob/master/docs/extras/user-stories/index.md#a-exploring-the-database)).

# Tasks

- [x] Conditions (free text, with suggest, can select multiple)
- [x] Interventions (free

[2016-04-04 15:12] vitorbaptista commented on #52
Done :+1:

[2016-04-04 15:12] #52 closed

[2016-04-04 15:21] vitorbaptista commented on #54
You mean the user should be able to, using locations as an example, select multiple locations and also query using a free text (e.g. `united`)?

[2016-04-04 15:21] vitorbaptista opened #56 "Configure ElasticSearch on AWS"

[2016-04-04 15:26] pwalsh commented on #54
* there is a select with options
* as well as select from list, user can filter list by free text
* use can add multiple terms

ui/x references:

* http://os-viewer.herokuapp.com/ (top-left dropdown arrow lets user get a select element over all package names in DB, but can also use free text to filter those names)
* https://select2.github.io/examples.html
* https://select2.github.io/examples.html#

[2016-04-04 15:35] pwalsh opened #57 "Stub out pages for relational entities"
# Description

We'll eventually build out views on a range entities related to trials. Even without proper design and ux treatment, it is good to flesh these out now as the basis of a navigational experience so we can iterate on design.

Do not worry about design: just stub out in the basic template, and throw out a list of key: value for whatever we have for that object.

# Tasks

* [x] Condition

[2016-04-04 15:44] pwalsh opened #58 "On trial detail pages, add the section for register entries"
# Description

The mocks for the trial detail pages have a section for registry entries of the trial [see here](http://opentrials.github.io/mockups/trial.html).

This section is important as it shows users the core information that we built our "ideal trial object" from. This section also should allow the user to see the record from the register as we collected it, and, follow a link to the origin

[2016-04-04 15:46] vitorbaptista opened #59 "Fix "url" host on API response"
It currently uses the value of the `HOST` and `PORT` env variables, which aren't related to the outwards-facing host/port. We need a separate environment variable for that.

[2016-04-04 15:47] pwalsh opened #60 "On trial detail pages, the link to the JSON API does not work"
It has an IP of `0.0.0.0`

[2016-04-04 16:29] vitorbaptista opened #61 "Configure domains"
For example, we could have:

* api.opentrials.net
* staging.api.opentrials.net
* opentrials.net
* staging.opentrials.net

[2016-04-04 17:14] pwalsh commented on #61
@vitorbaptista yes.

For now, opentrials.net is reserved for the placeholder wordpress site. It should stay like that for several months, then we'll move the main app (which I'm calling the *Explorer* to there).

So I suggest (and will implement right now):

* opentrials.net - placeholder
* explorer.opentrials.net - explorer app, likely to move to base domain in future
* api.opentrials.net
* explo

[2016-04-04 17:18] pwalsh commented on #61
DONE:

CNAMES are:

* explorer.opentrials.net -> ot-explorer.herokuapp.com
* api.opentrials.net -> ot-api.herokuapp.com
* explorer.next.opentrials.net -> ot-explorer-next.herokuapp.com
* api.next.opentrials.net -> ot-api-next.herokuapp.com

[2016-04-04 17:18] #61 closed

[2016-04-04 17:38] vitorbaptista commented on #61
I've renamed the apps on Heroku and the new domains are working wine :+1:

[2016-04-04 17:38] pwalsh opened #62 "Allow users to authenticate and have roles (permissions)"
# Description

Users need to be able to authenticate with the system, so that users can perform certain actions. Authenticated users need to be able to have roles, where each role relates to a flat permissions level (no granular permissions logic). Our use cases currently require three roles:

- `normal`
- `curator`
- `administrator`

No logic needs to be added on these roles at present, except th

[2016-04-04 17:41] pwalsh opened #63 "UI elements for users"
# Description

After https://github.com/opentrials/opentrials/issues/62 implement the UI for user auth flows. Like there, not that the [OS Packager](https://github.com/openspending/os-packager) and [OS Auth Client](https://github.com/openspending/os-auth-client) may have code of interest (or, not :)).

# Tasks

- [ ] UI/X for user flows
- [ ] Functional tests as relevant

[2016-04-04 18:07] vitorbaptista commented on #54
OK, so the free text is just to help finding the values in the select box, and not an actual free text query, right?

[2016-04-04 18:08] vitorbaptista commented on #56
Done for production, still needs a staging instance.

[2016-04-04 18:10] vitorbaptista commented on #58
@roll Do we have this in data in the DB already?

[2016-04-04 18:10] vitorbaptista commented on #60
Duplicate of #59

[2016-04-04 18:10] #60 closed

[2016-04-04 19:12] pwalsh commented on #54
@vitorbaptista yes, sorry for confusion.

[2016-04-05 02:42] pwalsh opened #64 "API documentation page"
From @vitorbaptista

https://github.com/z0mt3c/hapi-swaggered-ui might be useful

[2016-04-05 02:43] pwalsh opened #65 "Pagination and elastic search performance"
From @vitorbaptista

There're performance issues on paginating too much results (check https://www.elastic.co/guide/en/elasticsearch/guide/current/pagination.html). There are ways around this (see https://www.elastic.co/guide/en/elasticsearch/guide/current/scroll.html), but it doesn't seem worthy. Most people will go through only the first few pages, anyway (IMHO), so we can limit the number of re

[2016-04-05 02:47] pwalsh opened #66 "Query terms should be joined by AND by default"
From @vitorbaptista

For example, if I search for "pediatric urinary" I want results that have both terms.

[2016-04-05 02:48] pwalsh opened #67 "Investigate following JSON API specification"
From @vitorbaptista

http://jsonapi.org/

(Instead of swagger)

[2016-04-05 03:18] pwalsh opened #68 "Storage API for user-contributed files"
# Description

Any user who has authenticated can add data. This data may be associated with a known trial, or not. Such data never directly enters the main database. Rather, it goes to a staging area in the Warehouse so that staff can look at it and assess. The "look at it and assess" part is currently a manual process (and not in scope for this issue).

- Some user facing actions to add files ca

[2016-04-05 03:24] pwalsh opened #69 "Interfaces to add data"
# Description

Requires https://github.com/opentrials/opentrials/issues/68

Users can add data to the system. This data can be associated with a known trial, or not. See here for data structure info and more general context https://github.com/opentrials/opentrials/issues/68

# Tasks

- [x] Implement interactions on trial detail pages
- [x] Add a new page "Contribute Data" that implements the uploa

[2016-04-05 03:31] pwalsh opened #70 "Interfaces to view and assess user-contributed data"
# Description

Requires https://github.com/opentrials/opentrials/issues/71

Users with either role `curator` or `administrator` need to be able to authenticate and access a view that shows all user contributed data. There is no existing design for this view, but that is ok. The main thing for this stage is to provide a simple way to allow these users to perform the following tasks:

- See data con

[2016-04-05 03:32] pwalsh opened #71 "API to act on user-contributed data"
# Description

Users with either role curator or administrator need to be able to assess user-contributed data. The interface for this is implemented in https://github.com/opentrials/opentrials/issues/70

# Tasks

- [ ] Enhance schema for data contribution records to support fields related to curator assessment
  - reject/accept; comments; assessing_user
- [ ] Add API action to edit data contribut

[2016-04-05 05:27] pwalsh opened #72 "API to persist search queries"
# Description

Search queries potentially provide a way to understand the database. They can be used by frontend users of the system as starting points for exploration, and they can potentially be used in the warehouse to enhance our record matching capabilities.

User stories A4, A5 and A6 all require search queries to be persisted in the for later use

https://github.com/opentrials/docs/blob/mas

[2016-04-05 05:37] pwalsh opened #73 "Interfaces to use search queries"
# Description

Requires https://github.com/opentrials/opentrials/issues/72

Search queries can be used as starting points for exploring the database. Authenticated users can always access a list of their own search queries, and any visitor can browse a list of search queries by _most popular_ and _most recent_.

Implements user stories A4, A5 and A6: https://github.com/opentrials/docs/blob/master/

[2016-04-05 06:24] roll commented on #58
We have `records` table linked to `sources` but we need to add `url` and `date` to implement this. Key-value dict for record is `data` field.

[2016-04-05 07:07] roll commented on #58
Also because we need to show some free data structures (free JSON) I've checked for tools for converting it to html tables:
https://github.com/moappi/json2html
https://github.com/padolsey-archive/prettyprint.js
May be it will be useful once.

[2016-04-05 09:25] roll commented on #58
@pwalsh Great thing that data providing work starts to meet with concrete user stories here.

So a question - `records.data` should contains all data from warehouse item (https://github.com/opentrials/collectors/blob/master/docs/warehouse/warehouse.md) like 100+ fields for `euctr` or some useful subset?

[2016-04-05 09:26] pwalsh commented on #58
@roll all of it.

[2016-04-05 09:29] roll commented on #58
@pwalsh ok
@vitorbaptista could we have database migration you need for this feature before database update will be started? So we will be able to close this issue soon.

[2016-04-05 10:24] pwalsh commented on #58
@roll yes, please as part of migration to update database as this is extremely critical information.

[2016-04-05 13:20] vitorbaptista commented on #40
Fixed on #42

[2016-04-05 13:20] #40 closed

[2016-04-05 13:21] vitorbaptista commented on #39
Fixed

[2016-04-05 13:21] #39 closed

[2016-04-05 13:31] vitorbaptista commented on #56
@pwalsh I'm assigning this to you, because what's missing here is an ElasticSearch instance for staging on AWS. Right now we're using the [Heroku SearchBox plugin](https://devcenter.heroku.com/articles/searchbox) which works fine, but runs a different ES version (and there's no way to change it AFAIK). That works for now but, to avoid incompatibilities between what we test on staging and what runs

[2016-04-05 14:01] vitorbaptista commented on #65
Fixed in https://github.com/opentrials/api/pull/30 and https://github.com/opentrials/opentrials/commit/593b0776a2b7b8702cf35d887fd2e703333f279a

[2016-04-05 14:09] pwalsh commented on #56
@vitorbaptista search-opentrials-next-o2qfgqylejytr35wm7yqg2lsgi.eu-west-1.es.amazonaws.com

[2016-04-05 14:09] #56 closed

[2016-04-05 19:09] #65 closed

[2016-04-05 19:16] vitorbaptista commented on #54
I'm working on it on https://github.com/opentrials/opentrials/pull/74. I've added select2 and styled it a bit. It currently looks like:

![Locations select2 styling](https://cloud.githubusercontent.com/assets/76945/14294774/96044690-fb6a-11e5-9884-7927589148f9.png)

There're a few issues with the inner margins, and the design starts breaking when the locations are in more than a single line. If th

[2016-04-05 19:18] pwalsh commented on #54
@vitorbaptista hey, that looks really decent for now. Agreed on just fixing smaller issues, we'll have much for @smth to fix in 6-8 weeks, and better to do a sweep of it all at once then

[2016-04-06 12:57] pwalsh opened #75 "UI to allow crowd to vote on a record match yes/no"
# Description

Requires https://github.com/opentrials/opentrials/issues/76

See #76 for more info on this feature, and see [user stories B7, B8, B9](https://github.com/opentrials/docs/blob/master/docs/extras/user-stories/index.md#b-contributing-and-curating-data).
# Tasks

This task does not include design. Let's get the functionality working and then do a round with @smth
- [ ] Expose a route and

[2016-04-06 12:58] pwalsh opened #76 "API to allow crowd to vote on a record match yes/no"
# Description

In the data warehouse, we do various record matching processes. Some are very simple, and the possibility of more sophisticated matching depends on things like contributions from others who want to help with algorithms and design.

In any event, whatever methods we use to match data, there are bound to be errors and room for improvement.

To help counter this, we want to provide a s

[2016-04-06 14:01] vitorbaptista commented on #59
Fixed

[2016-04-06 14:01] #59 closed

[2016-04-06 14:05] vitorbaptista commented on #57
Which data would be in each of those pages? The actual entities have very little data on the DB, mostly just a `name`.

[2016-04-06 14:12] vitorbaptista commented on #58
@roll I think we should use dedicated fields as much as possible :+1: Is this `date` field related to when the data was imported, or when it was created in the registry?

Not directly related to this, but is it possible to use a dedicated field for the source's ID as well (e.g. `nct_id`)? It would make it easier to display on the frontend.

[2016-04-06 14:24] pwalsh commented on #75
@roll @vitorbaptista note on this, I'm quite sure that while the frontend API will handle the data, it should be directly written to the warehouse database. I think that is the case for most actions that relate to processing and fixing data.

[2016-04-06 14:37] vitorbaptista commented on #58
@pwalsh instead of opening a modal with the source data, what do you think of something like this:

![screenshot from 2016-04-06 15 27 20](https://cloud.githubusercontent.com/assets/76945/14320322/869fdec4-fc0c-11e5-9628-363004cafcb8.png)

My reasoning was that knowing when the data was last updated is important enough not to be hidden behind a click. It also keeps the interface a bit more consist

[2016-04-06 14:38] vitorbaptista commented on #57
Idea: When clicking on an entity (say a location), we could send the user to the search page with that location in the filters.

[2016-04-06 14:56] vitorbaptista commented on #62
Instead of implementing authentication on the API ourselves, I was thinking on trying something like [Kong](https://getkong.org), [Tyk](https://tyk.io) or some other API management project. It might me more difficult to setup upfront, but they provide lots of functionalities that we'll need sooner or later (rate-limiting, caching, etc...)

_Disclaimer: I have no experience with either tool_

Regar

[2016-04-06 15:15] pwalsh commented on #58
@vitorbaptista yes great, big +1 on that solution, but one caveat - you are linking out to the actual source, which is good, but we are losing the ability to see our cached version of the source, which is important I think.

Thoughts on this?

[2016-04-06 15:21] pwalsh commented on #57
Ok so for data - right now we only have names, but we will have full recently records for many things as we integrate data sources. The pages themselves can also help serve as calls to action to contribute data, not to mention potential seo benefits to capture search queries related to things like principal investigators, funding organizations and so on. So, it is quite important to flesh out the

[2016-04-06 15:27] pwalsh commented on #62
I don't know enough about these options to say. Conceptually, I love the idea as Kong marketing presents it.

Some concerns are if the open source version is crippled in ways that might bite us, and if it is easy to hook in our own logic, for example, our use cases around user roles. Also, do we fully host our own Kong gateway, or is it always via some centralized service of theirs?

@rollyour tho

[2016-04-06 15:29] pwalsh commented on #62
Also, things like saving searches, what do you mean when you say authz related to that may not be implemented at the API level? Can you describe an alternative as you currently see it?

[2016-04-06 15:38] roll commented on #58
I think almost everything is possible with `processors` - please just raise a PR with migration you need for frontend. That's workflow I was talking about in Gitter - when you lead those migrations (and I think we need some) based on better knowledge of clients (frontend) needs.

[2016-04-06 16:05] vitorbaptista opened #77 "Fix racing condition on API's migrations"
`Promise.all` runs all promises in parallel, so we can end up creating a relationship table (e.g. `trials_records`) before the tables (e.g. `trials` and `records) are created .

https://github.com/opentrials/api/blob/master/migrations/20160216120159_create_initial_schema.js

[2016-04-06 16:12] vitorbaptista opened #78 "Add dedicated ID field on "sources" table"
Currently the ID is in the `data` JSON field

[2016-04-06 16:14] vitorbaptista commented on #58
@roll Great, I've created a new issue on https://github.com/opentrials/opentrials/issues/78 about it

@pwalsh I was thinking on linking to the actual JSON of our source. If that's too technical, we could create a separate page displaying it. Basically what would be in the modal, but in a separate page instead.

[2016-04-06 16:35] pwalsh commented on #58
Separate page is fine...

[2016-04-06 16:35] pwalsh commented on #58
JSON source is not though :)

[2016-04-06 16:39] roll commented on #58
Take a look on links I've posted above - json2htmltable

ср, 06 апр 2016 г., 19:35 Paul Walsh <notifications@github.com>:

--
Best regards,
Evgeny Karev

[2016-04-06 17:14] vitorbaptista commented on #57
Shall we wait until we have some data, then? I mean, I'm happy to create the pages, but they'll be empty with just the entity's name.

[2016-04-06 17:19] vitorbaptista commented on #58
Tasks:

- [ ] Add sources endpoint `/trials/TRIAL_ID/sources/SOURCE_ID`;
- [ ] Add basic sources metadata to `/trials/TRIAL_ID` (source name, URL, and maybe ID);
- [ ] Write page to display the data extracted from the source (maybe using `json2htmltable` or something similar)
- [ ] Add sources list to the Trial details page

[2016-04-06 17:29] vitorbaptista commented on #62
I don't know more about Kong or Tyk to say. It would be good to do a spike to see if they would help us.

About the saving searches, I was thinking that the API level will have just the core functionalities like searching, showing data, maybe uploading data (maybe not). All the rest, like saved searches, would be on the OpenTrials level. This would require another database and the issues that come

[2016-04-06 17:47] pwalsh commented on #62
I see what you mean about saving that data to a different DB. I think (as I mention here https://github.com/opentrials/opentrials/issues/75#issuecomment-206397179) that essentially, we only read from the API db, and we write to the warehouse DB. Whether we do the writes with a different API ... I think you and @roll can decide what feels best.

[2016-04-06 17:58] pwalsh commented on #57
If you don't mind, I'll feel better if we do this now. It also means we are stubbing out the rest API which I'll also be happy about.

Is that ok?

[2016-04-06 18:20] pwalsh commented on #62
@vitorbaptista also, about the spike: sure, go for it when you get here.

But when you do it, let's have joint discussion with you, myself and @roll before we commit to it.

[2016-04-06 20:08] pwalsh commented on #50
Hey @roll

Ben gave me an example query that can be useful for him and some researchers. I think maybe you can run a query like this as part of this work when you start it, and just export the actual results (query statement + results) and share with Ben.

He asks:

* get results of a query which selects trials that appear in 1+ registers, that have discrepancies on study end date, and one of thos

[2016-04-07 06:12] roll commented on #77
Do you think it's not handled internally somehow? Because I run (and in builds) this migration a lot a never get an error instead of 50% failures.

[2016-04-07 06:25] pwalsh commented on #77
Hey both.

Please use bluebird where possible. In this case, [`Promise.each`](http://bluebirdjs.com/docs/api/promise.each.html) helps.

[2016-04-07 07:17] roll commented on #75
@pwalsh
One caveat of writing from `api` to `warehouse` - it will create a dependency between this two components. Now `api` does know nothing about `warehouse` and couldn't be broken because of any `warehouse` change.

If you considering the current situation (no dependency) as a valid PRO we could write from `api` to some other tables in `database`. `processors` could operate on both `warehouse`

[2016-04-07 07:19] pwalsh commented on #75
@roll yes, sure, right.

Happy for you and @vitorbaptista to discuss and decide on that. Any option works for me.

[2016-04-07 07:25] roll commented on #78
@vitorbaptista based on this https://github.com/opentrials/opentrials/issues/76 (it matches my prev guess) `records` table will be storing other entities records.

So I suppose we should use:
`if records.type == 'trial' then records.extracted_data.primary_id -> <NCT123124> records.extracted_data.primary_register -> <nct>`

[2016-04-07 07:31] roll commented on #78
More about data extraction - https://github.com/opentrials/processors/blob/master/docs/mapper/mapper.md#extractors

[2016-04-07 07:34] pwalsh commented on #78
@roll I'm wondering if we do not want a record table for each entity, rather than a `type` filter on a single table?

[2016-04-07 07:41] roll commented on #78
It looks like we need it to do not stuck with unsync between `trials` schema and data stored in `records.extracted_data`

[2016-04-07 07:49] pwalsh commented on #78
@roll yep. we don't have that many different entities. For each entity in warehouse, we can add `{entity}` and `{entity}records` tables

[2016-04-07 07:50] pwalsh commented on #78
This ticket can be promoted to [Current](https://github.com/opentrials/opentrials/milestones/Current) if needed, feel free.

[2016-04-07 09:09] roll commented on #78
Implemented the latest discussion things in https://github.com/opentrials/api/pull/31 and `processors`.

[2016-04-07 10:10] vitorbaptista commented on #57
OK, will do.

[2016-04-07 14:38] pwalsh opened #79 "UI to see list of record matches in warehouse"
# Description

Requires #76 and then #75

Curating users need to be able to see the results of record matching, and have useful filters over such results to target certain cases.

See #76 for more info on this feature in general terms, and see [user stories B7, B8, B9, B11](https://github.com/opentrials/docs/blob/master/docs/extras/user-stories/index.md#b-contributing-and-curating-data).

# Tasks

[2016-04-07 16:54] roll commented on #77
See https://github.com/opentrials/api/pull/31/files

[2016-04-07 16:57] #66 closed

[2016-04-08 12:19] roll commented on #78
DONE

[2016-04-08 12:19] #78 closed

[2016-04-11 07:12] roll commented on #47
DONE

[2016-04-11 07:12] #47 closed

[2016-04-11 19:01] vitorbaptista opened #80 "Bug when splitting interventions and problems' names"
The following trial has a problem which an empty name (actually, the name is `\t\t\t`), and there're interventions named "Phase 2:" and "Phase 1:". The fix for the first issue is simple: trim the strings. The second issue is more complicated, but hopefully it's simple as well (cc @roll)

[code]

[2016-04-11 19:18] vitorbaptista opened #81 "Remove interventions named "none""
http://api.opentrials.net/v1/trials/13181266-923d-4d28-8e65-73d174314374 has an intervention named "none"

[code]

[2016-04-11 19:41] #77 closed

[2016-04-12 06:33] roll commented on #80
Great that you started to detect this low quality data - we will be improving it on `scraper` and `mapper` levels. But I suppose we don't need to dive into it too deep (spend too much time reviewing it) for now because `interventions` and `problems` tables not really cleaned for now (I know more issues here like not splited `Drug: some` etc). Also we are going to scrape lookup sources for this ent

[2016-04-12 06:47] pwalsh commented on #80
Agree with @roll. Excellent to open issues for everything that we see here, but yes, we'll always have some junk in system and this will improve (but never go away completely) as we iterate on entity reconciliation, etc.

[2016-04-12 16:13] vitorbaptista opened #82 "Deal with unnamed Trials"
For example, http://explorer.opentrials.net/trials/519abd75-99e4-4222-a1f7-9adcb3f979dd and http://explorer.opentrials.net/trials/64d2cbeb-4044-445d-8f12-3e79ba83141d

[2016-04-13 08:52] roll commented on #36
DONE

[2016-04-13 08:52] #36 closed

[2016-04-13 11:27] vitorbaptista opened #83 "Rename search form's input names to shorter strings"
There's a limit on how big a URL can be. The limit isn't defined by the standard, but should be lower than 2000 characters according to http://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers.

Given that after #55 we'll have many filters, and we don't want to use POST so users can link to queries, we should make our input names as short as possible to s

[2016-04-13 14:21] vitorbaptista opened #84 "Populate "gender" and "has_published_results" fields in API database"
This depends on #55.

[2016-04-13 14:21] vitorbaptista commented on #55
The API and web site parts are done. The database for gender and published results isn't populated yet (depending on #84).

[2016-04-13 16:36] #53 closed

[2016-04-13 16:40] vitorbaptista commented on #53
The button to clear the search query should be added by default when using `<input type="search">`. Not all browsers support this yet, though, but will eventually. From my tests, it works fine on Chrome, and should work on other WebKit-based browsers as well (i.e. Safari).

[2016-04-13 16:40] vitorbaptista commented on #54
Done

[2016-04-13 16:40] #54 closed

[2016-04-14 08:36] #55 closed

[2016-04-14 09:23] roll commented on #34
404 Not Found - http://docs.opentrials.net/en/latest/developers/

[2016-04-14 17:16] vitorbaptista opened #85 "Run smoke tests after deploying to make sure nothing is terribly broken"
We have some basic smoke tests after https://github.com/opentrials/opentrials/pull/74. They're not run by Travis, however, because we depend on having an API instance running. Ideally, that test suite would be run against a live instance after we deploy, making sure that there's nothing terribly wrong (e.g. elasticsearch is off, postgres has problems, etc.)

There are ways to run scripts after dep

[2016-04-14 17:22] pwalsh commented on #85
Perhaps we can look to @roll's work on https://github.com/frictionlessdata/testsuite-py as a possible implementation?

[2016-04-15 07:45] roll commented on #85
That was I main idea to do not have not tested on CI/CD server code deployed. For `collectors` and `processors` updating image/stacks from dev machine is programmatically forbidden via make. So to run all available tests on CI/CD before moving it to Heroku will be a good practice.

Other thing could be services like https://www.browserstack.com/automate or https://ghostinspector.com/ to have kinda

[2016-04-15 07:49] roll opened #86 "Setup unified logging on PaperTrail"
Our `Papertrail` account now aggregates logs from `collectors` and `processors` so we need to add other systems to have all logs monitored. Also we should to emit some unified log forma:

- [x] connect `api` to `Papertrail` using the format
- [x] connect `explorer` to `Papertrail` using the format
- [x] add notifications (email/slack/etc?) about `warnings+`

[2016-04-15 09:16] roll opened #87 "Populate data to staging database"
Like mentioned here - https://github.com/opentrials/opentrials/issues/31- we could have docker-cloud apps for different environments.

@vitorbaptista please send me db creds when will be on it

[2016-04-15 13:10] vitorbaptista commented on #87
Agreed, we need a good subset of data for staging and even local development. I added some seeds in https://github.com/opentrials/api/blob/master/seeds/trials.js, but it's still too little.

[2016-04-21 10:14] vitorbaptista opened #89 "Fix styling of search results' definition lists"
For example, check:

![Styling issue with definition lists](https://cloud.githubusercontent.com/assets/76945/14705544/fd0d0f54-07b1-11e6-926f-24d1f3d46bc0.png)

[2016-04-25 12:23] #58 closed

[2016-04-27 11:04] vitorbaptista commented on #29
Fixed

[2016-04-27 11:04] #29 closed

[2016-04-27 17:15] vitorbaptista opened #92 "Rename "persons"?"
Maybe to [Sponsors/Collaborators](https://clinicaltrials.gov/ct2/help/sponsorandcollaborators) or just "People"

[2016-04-27 18:29] vitorbaptista opened #93 "Implement custom error pages"
Currently, the user sees a JSON response (e.g. http://explorer.opentrials.net/search?page=0). This might help: http://stackoverflow.com/questions/29571703/how-can-i-customize-the-validation-error-response-in-hapi-js

This should be implemented for both HTTP 4xx and 5xx errors

[2016-04-28 09:23] roll commented on #92
`sponsor` - is a specific *role* in medical trials. Person/Organisation is carrying responsibility about some clinical trials. It's not a financial side in general. Sponsor also could be a `funder` giving the resources (money).

`collaborator` - if it will be some review author erc. I'm not sure it fits to be a collaborator.

So main question - what's wrong with `persons`? :-)

[2016-04-28 14:12] vitorbaptista commented on #92
This is a minor thing, but it seems that `persons` is too formal and currently only used in legal documents, so `people` might be more appropriate.

[2016-04-28 14:13] roll commented on #92
Having nothing against people)

[2016-04-28 15:53] vitorbaptista opened #94 "Record endpoint fails when "source_data" is a string instead of object"
Example: http://api.opentrials.net/v1/trials/20c05563-9556-435e-be41-8f9c3d08edb8/records/2d641eaa-a6fe-4a57-bcbd-614951a1b63e

We need to parse the `source_data` before returning it.

[2016-04-30 07:57] roll commented on #43
DONE

[2016-04-30 07:57] #43 closed

[2016-05-01 09:13] roll opened #96 "Show basic stats on main search page"
http://explorer.opentrials.net/

There are two purpose: provide information and engage an user.

[2016-05-01 15:34] roll opened #97 "Rename table trialrecords to records"
I don't see we need to store other records in `database` as a separate tables. Trial record is a core concept of a business logic here so I suppose it's safe to have it as `records`.

- [ ] database migration
- [ ] processors update

[2016-05-01 15:36] roll commented on #92
Except for internal usage (table, variable names etc) - I much more prefer `persons` because it's kinda more regular word (person -> persons).

[2016-05-02 09:57] roll opened #98 "Make trials.recruitment_status enumerable?"
http://www.who.int/ictrp/network/trds/en/

Will be useful (vital) for diffs (discrepancy) reporting.

- [ ] database migration
- [x] processors update

[2016-05-02 18:53] roll commented on #84
FIXED

[2016-05-02 18:53] #84 closed

[2016-05-02 18:53] #94 closed

[2016-05-02 18:57] roll commented on #94
FIXED

[2016-05-03 00:06] vitorbaptista opened #99 ""Advanced search" filters styling is broken in the index page"
There are too many filters and the footer/header don't give space for them. The filters end up being drawn over them.

![styling error](https://cloud.githubusercontent.com/assets/76945/14971544/99394294-10a9-11e6-8037-75aab03326a3.png)

[2016-05-03 00:40] vitorbaptista opened #100 "Enable SSL"
http://collectiveidea.com/blog/archives/2016/01/12/lets-encrypt-with-a-rails-app-on-heroku/ might be useful.

[2016-05-03 07:19] roll opened #101 "Add nice titles to sources table"
For now it's kinda merged - name (extrenal repr) and slug (internal repr) like `nct`.

So we should move things like `nct` or `actrn` to `sources.slug` or `sources.id` (natural primary key is generally good idea for SQL) and have `sources.name` like `ClinicalTrials.gov`.

Then we need to updated `trials/records.primary_register` accordingly.

[2016-05-03 07:25] roll opened #102 "User and SEO friendly site urls?"
Instead of:

http://explorer.opentrials.net/trials/0e733109-55ca-41da-9160-84990c28e1d3

To use something like `slug` here:

http://explorer.opentrials.net/trials/nct2343515-somato-sensory-reflex-arch-in-spinal-cord-Injury

[2016-05-03 17:10] roll opened #103 "Strategy of records->trial merging?"
It could be:
- some algorithm of merge
- only primary is using (current)

[2016-05-03 17:42] roll opened #104 "Improve data quality on processing"
- [x] review all `TODO` in `processors` repo and make appropriate changes

[2016-05-03 17:44] roll opened #105 "Setup continuous processing"
- [ ] add strategy to process only updated data in `warehouse`
- [ ] update `processors` stack to use this strategy and `make-initial-processing` to do not use
- [ ] run `processors` stack on docker-cloud
- [ ] remove `make-initial-processing` stack? all `processors` could check last day when objects was processed and start to process from this time - so only `processors` stack will be needed.

[2016-05-03 17:47] roll opened #106 "Setup continuous collecting"
- [ ] check missed data after initial scraping
- [ ] review `collectors` stack
- [ ] run `collectors` stack on docker-cloud
- [ ] remove `make-initial-collecting` stack? all `collectors` could check last day when records was updated and start to collect from this time - so only `collectors` stack will be needed.

[2016-05-03 18:42] roll opened #107 "Improve data quality on collecting"
- [ ] review all `TODO` in `collectors` repo and make appropriate changes

[2016-05-04 12:16] roll commented on #48
FIXED

[2016-05-04 12:16] #48 closed

[2016-05-04 14:42] #62 closed

[2016-05-04 14:42] #63 closed

[2016-05-04 14:43] #57 closed

[2016-05-04 15:24] roll commented on #46
FIXED

[2016-05-04 15:24] #46 closed

[2016-05-04 16:35] vitorbaptista commented on #41
Makes sense. I don't think we should bother with updating in real time for now, but, when the time comes,  it'll be easier to reuse the structure you're already creating.

[2016-05-05 13:15] vitorbaptista opened #109 "Create stats page"
Build a `/stats` page with our database's current stats. It should have at least:

- [x] Number of trials
- [x] Number of trials per registry
- [x] Number of trials per year
- [x] Top 10 locations with most trials
- [x] Date when we updated each registry (e.g.: `SELECT source_id, max(updated_at) FROM trialrecords GROUP BY source_id`)

These stats should come from a new `/stats` endpoint in the API

[2016-05-05 13:17] vitorbaptista commented on #109
/cc @borysyuk

[2016-05-05 19:08] roll opened #110 "Make Python3 main interpreter for collectors/processors"
For now transition is not possible but it's recommended in a future.

---
- [x] wait `Scrapy 1.1` - https://blog.scrapinghub.com/2016/02/04/python-3-support-with-scrapy-1-1rc1/
- [ ] wait `docker-cloud` support - https://github.com/docker/dockercloud-cli/issues/21
- [ ] make a transition

[2016-05-06 11:21] borysyuk commented on #109
@vitorbaptista What it means (Number of trials per registry)? I haven't find this in DB.

[2016-05-06 11:53] roll commented on #109
@borysyuk like `select count(*) from trialrecords group by 'primary_registry'`

[2016-05-11 07:28] roll commented on #30
It looks like we use just `condition` without any type (unlike intervention=drug/procedure/other). We could assume that `bad weather` is also condition.

So better to make db/ui migration (could be easy) faster on it.

[2016-05-11 07:30] pwalsh commented on #30
@roll good, I'm good with that, and it is consistent with what Ben suggested.

[2016-05-11 07:51] roll commented on #30
I'll raise this on the next planning - https://github.com/opentrials/opentrials/issues?q=is%3Aissue+is%3Aopen+label%3Amigration (a few migrations to mature our database)

[2016-05-11 07:55] roll opened #111 "Remove unused fields from schema"
I suppose we ready (have enough input from real usage / apps) to clean our schema from things which was just guessing on initial schema design like some `contexts`, `types` etc.

---

- [x] documents.type (recreate when enum will be clear)
- [x] documents.data
- [x] documents.facts
- [x] interventions.data
- [x] interventions.facts
- [x] locations.data
- [x] locations.facts
- [x] organisations.typ

[2016-05-11 14:33] vitorbaptista opened #113 "Expose publications through API and Explorer"
Create `/publications` endpoint with contents from the `publications` table and add it to the Trial details page.

[2016-05-11 17:16] roll commented on #103
NOT ACTUAL FOR NOW

[2016-05-11 17:16] #103 closed

[2016-05-13 12:49] vitorbaptista commented on #68
As per our discussion in #62, users are saved in the Explorer DB, leaving the API to be mostly (all?) read-only, responsible only for searching and exposing our trials and related entities. This means that this issue won't be fixed, as the data upload process work in the Explorer side. See https://github.com/opentrials/opentrials/pull/114 for more details and reopen if needed.

[2016-05-13 12:49] #68 closed

[2016-05-13 19:02] roll opened #115 "Rebase on continuous dedup/linking"
Based on high-level requirements to `explorer` we will be need to separate some `processors` responsible for doing trial merge/unmerge, publications linking etc.

For example if curator will mark two records as the same trail - than some long-living process should react on it and merge records. The same problem is actual for other areas like processors run order etc (pubmed will be linked to exist

[2016-05-14 17:20] vitorbaptista commented on #71
As per #62, this data is stored in the Explorer DB, and not in the API, so this issue won't be fixed. Please reopen if needed.

[2016-05-14 17:20] #71 closed

[2016-05-14 18:08] pwalsh commented on #102
👍

[2016-05-14 18:09] pwalsh commented on #100
We have a cloudflare account, which makes it trivial. 👍 to do this ASAP.

[2016-05-16 06:30] pwalsh commented on #34
http://docs.opentrials.net/

[2016-05-16 06:30] #34 closed

[2016-05-16 08:32] pwalsh opened #117 "trial source page has no data"
https://github.com/opentrials/opentrials/issues/58 was implemented, but I cannot confirm it works.

I've tried many example pages; here is one: http://explorer.opentrials.net/trials/354a4c99-e12a-4767-bb1d-9995d674971a which has this source http://explorer.opentrials.net/trials/354a4c99-e12a-4767-bb1d-9995d674971a/records/5d22737a-4b39-4c15-9409-15311f25d6ad

Current

- the source page has no data

[2016-05-16 08:55] pwalsh commented on #117
@vitorbaptista assigned to you so you can assigned accordingly.

[2016-05-16 15:15] pwalsh opened #118 "Add setup for Google Analytics"
# Description

We want to collect basic analytics using Google Analytics.

# Tasks

- [x] Have an env var for adding a Google Analytics code: `GOOGLE_ANALYTICS_CODE`
- [x] If the env var is populated, load the Google Analytics script at bottom of body of all templates
- [ ] Setup Open Trials production instance with `GOOGLE_ANALYTICS_CODE`
- [ ] Functional test

[2016-05-16 15:32] pwalsh commented on #92
`persons`. But I understand, I've had this dilemma on multiple APIs I've built in past :)

[2016-05-16 15:34] pwalsh commented on #97
@vitorbaptista @roll assigned this in the sense of: discuss and do, or drop it completely.

[2016-05-16 15:39] pwalsh commented on #30
@roll @vitorbaptista pls finalise this.

[2016-05-16 15:42] pwalsh commented on #80
Bumping as we now have a first pass on intervention and problem dictionaries, so reasonable for a first pass on cleaning these tables too.

[2016-05-16 15:47] pwalsh opened #119 "UI for discrepancy data"
# Description

Requires https://github.com/opentrials/opentrials/issues/120

Trial data often has discrepancies when pulled from a number of sources. We want to make it clear to users when a trial has such conflicting information.

We need some simple visual cues on the main trial page, as well as a more detailed discrepancy view related to a trial.

## User stories

- https://trello.com/c/D9M607O

[2016-05-16 15:50] pwalsh commented on #119
@roll @vitorbaptista I want @smth to do some mocks for this, but in turn, it is likely to be based on the discussion you both already had in slack, and where @roll already did some basic mocks. Please add all the relevant info here.

[2016-05-16 15:53] pwalsh opened #120 "API for discrepancy data"
# Description

We have information on discrepancies across multiple records for the same trial. This info needs to be exposed via the API for usage on Trial Detail pages.

# Tasks

- TBD

[2016-05-16 15:54] pwalsh commented on #120
Requires spec from @vitorbaptista

[2016-05-16 15:59] pwalsh opened #121 "Integrate OKI Panel Bar and Cookie Bar"
# Description

As with most OKI properties, integrate the Panel and the Cookie Bar.

# Tasks

- [x] Add OKI Panel ( http://a.okfn.org/html/oki/panel/ )
  - [x] Shift the existing menu to the left some amount so the panel does not cover it
- [x] Add Cookie Bar ( http://a.okfn.org/html/oki/cookie-bar/ )
  - [x] Only show cookie bar if google analytics is set

[2016-05-16 16:26] pwalsh opened #122 "Fix main navigation"
# Description

Requires https://github.com/opentrials/opentrials/issues/121

# Tasks

- [ ] Search: rename to "Explore" and remove the icon
- [ ] Login: inline with other nav items
- [ ] Order of nav items:` Explore | About | Login [OKI PANEL]`

<img width="330" alt="screenshot 2016-05-16 19 21 22" src="https://cloud.githubusercontent.com/assets/791678/15296011/082de086-1b9c-11e6-82dc-41ab96f2d542

[2016-05-16 16:28] pwalsh opened #123 "UI treatment when a field of data is empty"
# Description

# Tasks

- TBD

[2016-05-16 16:30] pwalsh opened #124 "UI when linking to related entities"
# Description

Requires #142

We've stubbed out detail pages for different entities in the database. These entities are always linked to one, or many, trials, and the user gets to these pages via a trial detail page, at present.

As the database grows and more data is cleaned and normalised, these entities will get more information, be de-duped and matched better, and so on.

As each view in the O

[2016-05-16 16:31] pwalsh opened #125 "Fixes/enhancements to the "sources" list"
# Description

## Nice examples

- http://explorer.opentrials.net/trials/03af7e71-71d7-40d8-9021-c766a3f39db1

### Original design

<img width="780" alt="designed" src="https://cloud.githubusercontent.com/assets/791678/15349926/e18c4938-1cde-11e6-8a9a-93f37134f587.png">

### Implemented

<img width="304" alt="implemented" src="https://cloud.githubusercontent.com/assets/791678/15349925/ddbe206a-1cd

[2016-05-16 16:36] pwalsh opened #126 "Conflicting dates in registration + last updated"
See the attached screenshot: registration date is after the last updated date. Is this correct? (noting incase there is a deeper issue.)

<img width="1280" alt="screenshot 2016-05-16 19 34 24" src="https://cloud.githubusercontent.com/assets/791678/15296276/5b34acb4-1b9d-11e6-9d4b-22a46f92d647.png">

[2016-05-16 16:40] pwalsh opened #127 "Lots of data info missing in UI from nct"
Not sure where the issue is, and the issue could be deeper than just orgs and persons.

- Trial UI: http://explorer.opentrials.net/trials/e568f975-5692-45f7-b965-7fc2bc01a4b7
- Trial API: http://api.opentrials.net/v1/trials/e568f975-5692-45f7-b965-7fc2bc01a4b7

Organisations and persons are empty. But the sources for this trial are:

- https://www.clinicaltrials.gov/ct2/show/NCT02391870?lup_e=02%2

[2016-05-16 16:40] pwalsh commented on #127
cc @roll

[2016-05-16 16:50] pwalsh opened #128 "Implement collector for HRA data"
# Description

HARP ( https://www.harp.org.uk/ ) has research summaries for a range of clinical trials. These research summaries can be extracted, cached in our warehouse (what a collector does), and then later processed to match on trials and prepare for exposing via the public Database/API (what a processor does: has a distinct task https://github.com/opentrials/opentrials/issues/138).

There ar

[2016-05-16 17:08] vitorbaptista opened #129 "There're trialrecords with `source_data` as string instead of JSON"
I tried converting them to JSON using:

[code]

But none worked. My guess is that the JSON string is already considered a JSON itself, so converting to JSON does nothing. From that idea, I tried converting to text first and then converting to JSON with `SELECT to_json(source_data::text) FROM trialrecords`, but that didn't work as well.

Anyway, more important than fixing this bug, is making sure w

[2016-05-16 17:31] vitorbaptista commented on #129
The issue https://github.com/opentrials/opentrials/issues/117 is caused by this bug. Let's move the discussion there.

[2016-05-16 17:31] #129 closed

[2016-05-16 17:33] vitorbaptista commented on #127
Changing tags and assigning this to @roll, as the API and Explorer are correctly displaying the data that they have. The issue is either that this data isn't being collected, or that it isn't being processed correctly.

[2016-05-16 17:37] vitorbaptista commented on #100
@pwalsh Agreed. Who can do this? Enabling SSL in Heroku is quite expensive (US$ 20/month per app), but necessary. I'm not sure if we can avoid going through Heroku by using CloudFare.

[2016-05-16 17:39] pwalsh commented on #100
Yes we can. Assign to me.

[2016-05-17 09:09] roll commented on #119
Some ideas from slack:

![search](https://cloud.githubusercontent.com/assets/557395/15316994/3707847a-1c28-11e6-898b-5e3a2a87d422.png)
![trial](https://cloud.githubusercontent.com/assets/557395/15316995/370bc74c-1c28-11e6-919c-248e88f4ddaa.png)

[2016-05-17 09:47] roll commented on #44
ACQUIRED DATA IN WAREHOUSE

[2016-05-17 09:47] #44 closed

[2016-05-17 09:48] roll commented on #45
ACQUIRED DATA IN WAREHOUSE

[2016-05-17 09:48] #45 closed

[2016-05-17 16:46] #70 closed

[2016-05-17 16:46] #69 closed

[2016-05-17 16:57] pwalsh opened #130 "Issue in mapping from ANZCTR"
See this trial:

This is the source we have: https://www.anzctr.org.au/Trial/Registration/TrialReview.aspx?id=81700&isReview=true

The source has:

- funding source (Health Research Council of New Zealand)
- Primary sponsor (Dr Felicity Goodyear-Smith)
- secondary sponsor (Prof Bruce Arroll)

However, according to our UI, the secondary sponsor is a related organisation, and the primary sponsor is

[2016-05-17 16:57] pwalsh commented on #130
@vitorbaptista assigned to you to re-assign if required.

[2016-05-17 17:01] vitorbaptista commented on #92
@roll and I agreed on just changing to "People" in the Explorer view, so we avoid spending too much time here.

[2016-05-17 17:23] roll commented on #101
DONE

[2016-05-17 17:23] #101 closed

[2016-05-17 17:28] roll commented on #98
https://github.com/opentrials/api/blob/master/migrations/20160511144353_add_description_and_extra_codes_columns_to_problems_and_interventions.js

[2016-05-18 05:51] pwalsh commented on #122
@smth my suggestion for inlining login is just because I'm not sure how it will work with the OKI Panel. However, you will have a solution for this, so, go ahead with any solution you prefer of course.

[2016-05-18 06:18] pwalsh opened #131 "Trial detail view, sections with no data"
# Description

For many trials, we will have missing data for certain fields. This is true now and will be true as we add more data, and even as we improve our record matching and processing, there will still *always* be fields with missing data.

So, we need a nice, generic implementation of messaging when a field has missing data.

### An example of current implementation

See how in this view t

[2016-05-18 06:20] pwalsh opened #132 "Rename headings in sidebar"
- [ ] Conducted in -> Locations
- [ ] Related Persons -> Related People

<img width="278" alt="sidebar-headings" src="https://cloud.githubusercontent.com/assets/791678/15349201/b3a688d0-1cd9-11e6-9bb3-fdaa9655a8c1.png">

[2016-05-18 06:25] pwalsh opened #133 "Trial appears to have an "empty" condition"
By UI, it looks like this trial has a condition which is an empty string. This may indicate an issue with processing this data, so flagging:

http://explorer.opentrials.net/trials/48ecbd14-46d9-421f-bf32-0f2786170bae

[2016-05-18 06:29] pwalsh opened #134 "Possibility to improve parsing of treatments and conditions on a trial"
See this trial: http://explorer.opentrials.net/trials/66906b54-0dee-4944-a621-c17f5e54fc5c

There are patterns in the strings that could be detected. I understand that is this pattern does not apply across all records from this data source, it is difficult. Still, worth investigating.

Screenshot:

<img width="1280" alt="screenshot 2016-05-18 09 27 15" src="https://cloud.githubusercontent.com/asse

[2016-05-18 06:54] pwalsh opened #135 "Important data/design elements missing on all trial pages"
# Description

Some important data is missing from the UI. This data is (should be) part of the record exposed to the template, so it is a matter of getting the accessors to the data from @vitorbaptista as you implement the UI.

### What we have

#### Implemented

<img width="1120" alt="implemented-info" src="https://cloud.githubusercontent.com/assets/791678/15349851/859cb306-1cde-11e6-84c7-6d4a52

[2016-05-18 07:10] pwalsh commented on #125
@vitorbaptista @smth

My current suggestion, based on what we now have with data, and where things are going is

- Move "sources" back into main content column
- Have it as a single section called "Sources", which is in place of "Registers" and "Data" from the original mocks
- The "Sources" section has subsections for each "source type": register, etc. which lists those sources as per the original

[2016-05-18 07:17] pwalsh opened #136 "Links to related entities from the sidebar"
# Description

On a trial detail page, we link to "related entities" that we may have extra information on: persons, organisations, etc. We currently link from the "name of the thing" but that looks a little ugly when just applying basic link styling to it, especially as interlinking becomes more comprehensive as the database improves.

We need a more aesthetic link pattern for this scenario: poss

[2016-05-18 07:24] pwalsh commented on #127
Another example, showing lots of missing data:

Trial page: http://explorer.opentrials.net/trials/1a1a8b77-196a-43b5-82ad-546fa3a8b0ac
Source data: http://apps.who.int/trialsearch/Trial3.aspx?trialid=DRKS00007960

[2016-05-18 07:27] pwalsh opened #137 "Links to related entities from main content area"
# Description

Essentially, the same type of issue as https://github.com/opentrials/opentrials/issues/136

We want a nicer design for linking from this "boxed" elements in the main content area, with a treatment for default, hover, etc.

We are also missing an icon from the original design.

### Designed

<img width="808" alt="conditions-treatments-design" src="https://cloud.githubusercontent.com/

[2016-05-18 07:44] pwalsh commented on #124
Duplicates #131

[2016-05-18 08:27] pwalsh opened #138 "Implement processor for HRA data"
# Description

Once we have HARP Research Summaries in the warehouse #128, we need to process it to match data onto trials, adjust database schemas as required, and push data forward to the API database.

# Tasks

- [x] read `processors` overview - https://github.com/opentrials/processors/blob/master/docs/overview.md
- [x] read contributing giude - https://github.com/opentrials/processors/blob/mas

[2016-05-18 10:11] roll commented on #128
@BenGosub
marked `updating logic` as done because it's part of the collecting framework when you use `Pipeline.write_item`

[2016-05-18 10:19] roll commented on #138
@BenGosub please ping me when you'll get data example from HRA so I'll be able to write this tasks

[2016-05-18 10:53] pwalsh commented on #128
@roll great to know! That is one for docs/blog post :)

[2016-05-18 11:18] smth opened #139 "Duplication of code in base and index layouts"
These two layouts could probably be merged into one.

[2016-05-18 12:38] pwalsh commented on #139
@smth is this something you might pickup while working, or good for backlog?

[2016-05-18 12:43] pwalsh commented on #123
duplicates #131

[2016-05-18 12:43] #123 closed

[2016-05-18 12:46] roll commented on #50
@vitorbaptista
I've rebased both PRs - so it's ready to merge. Please re-assign me if/when (to start processor for production after migration) other actions from me will be needed.

[2016-05-18 12:47] smth commented on #139
I'd say backlog for now.

[2016-05-18 12:48] pwalsh commented on #139
👍

[2016-05-18 13:15] #35 closed

[2016-05-18 13:28] vitorbaptista commented on #30
@roll In `collectors` we have things like `health_conditions_or_problems_studied`, and in `processors` we have both `problems` and `conditions`. They should all be renamed to just `conditions`?

[2016-05-18 13:34] roll commented on #30
@vitorbaptista
`health_conditions_or_problems_studied` is field in warehouse. So after renaming `problems` to `conditions` from this field we're going to extract only `conditions`.

I suppose for `processors` except thing you've raised it's just straight renaming:
[code]

[2016-05-18 13:52] pwalsh opened #142 "Add custom search query object to template context for all related entities"
# Description

In order for @smth to implement https://github.com/opentrials/opentrials/issues/124, we need some search info added to the template's context.

# Tasks

- [x] For each of person, organisation, condition and intervention detail views, add:
  - [x] a search result for the object being requested, with a hard limit of 10 results, as `searchResults`
  - [x] a search count of the objects,

[2016-05-18 13:57] BenGosub commented on #138
@roll I am getting status HTTP/1.1" 400 339 from their server. In the API documentation it says that the API works only on Monday, Wednesday, Thursday – between 6:00 - 8:00 am UTC. Status 339 is defined as: Delayed/Debugging. Status 400 is Bad Request. I think that my credentials are formatted correctly because when I use wrong credentials I get 401 (unauthorized).

[2016-05-18 14:00] roll commented on #138
@BenGosub
Thanks. I'll check with HRA representative.

[2016-05-18 14:01] BenGosub commented on #138
Here's the output for clarity:

(.python) bozho@bozho-laptop:~/work/open_trials/opentrials-collectors$ make start hra
python -m collectors.base.cli hra
INFO:requests.packages.urllib3.connectionpool:Starting new HTTPS connection (1): stage.harp.org.uk
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/logging/handlers.py", line 863, in emit
    self.socket.sendto(msg, self.address)

[2016-05-18 14:03] pwalsh commented on #138
This is the wrong issue for this discussion. Should be https://github.com/opentrials/opentrials/issues/128

[2016-05-18 14:15] BenGosub commented on #128
@roll I notice I've made a mistake in the authorization sting, which after correction returns HTTP/1.1" 500 661 (Internal Server Error)
Headers:
{'Authorization': 'Basic T3BlbnRyaWFscy10ZWFtQG9rZm4ub3JnCjpScFhHTHMzeE5mUDhGOWZO==', 'Connection': 'keep-alive', 'Accept-Encoding': 'gzip, deflate', 'Accept': '/', 'User-Agent': 'python-requests/2.10.0'}
URL:
https://stage.harp.org.uk/HARPApiExternal/api

[2016-05-18 14:37] BenGosub commented on #128
@roll I have the data, you can give me further instructions.

[2016-05-18 15:03] pwalsh opened #144 "Search with a date or a date range, where the query runs against all date fields"
Flagged as useful by Ben to dig out data.

[2016-05-18 16:27] #92 closed

[2016-05-18 17:02] pwalsh opened #145 "Add Sources as a search parameters"
# Description

We have multiple source types. For each source type, we want to add a search field to select one or many, with a default of all.

Based on current data, we have two source types "Registry" and "Other" (PubMed, HRA, Epistemonikos). These need to be exposed as params for search queries, and via the search UI.

Search UI should be something like:

[code]
# Tasks
- [ ] API: Implement fi

[2016-05-18 17:03] pwalsh commented on #145
@roll @vitorbaptista is registry a "source" with type "registry"? If yes, is PubMed also a "source", with type "?"?

[2016-05-18 17:06] pwalsh opened #146 "Create a custom search UI to EU CTR"
# Description

Requires - https://github.com/opentrials/opentrials/issues/145

EU CTR is notoriously unstable. Seeing as we collect the data, let's provide an alternate UI with:
- Better stability
- Better search functionality
# Tasks
- [ ] Create a customized search UI with all the params, but with Registry set to EU CTR
- [ ] Serve this UI from euctr.opentrials.net
- [ ] Tests

[2016-05-18 17:10] pwalsh opened #147 "Add Source Count as a search parameter"
# Description

Requested by Ben.

Data that has been collected from multiple sources is useful as a metric. It could be a quality indicator, or it could just be an interesting angle on which to explore the database ("Search for all trials with data from 5 or more sources").

"Source" means: Registries of course, but also other data sources: any source ( ref. https://github.com/opentrials/opentrial

[2016-05-18 17:17] pwalsh opened #148 "Super power user search, per "source""
Idea from Ben.

Expose a super super form per source, which allows the user to work with every single field of the record directly. Has to be per source, as the users (may) know the original data structure and want to work with it, not our ideal model. Can even show such users the mapping we did `record.py` so they can understand the data structure better.

[2016-05-18 17:34] pwalsh commented on #100
Some features just write themselves:

https://blog.heroku.com/archives/2016/5/18/announcing_heroku_free_ssl_beta_and_flexible_dyno_hours

[2016-05-18 18:45] vitorbaptista commented on #100
Great timing! :smile:

[2016-05-18 18:57] BenGosub commented on #128
@roll, @pwalsh

I've created fields for all records and the complete data dictionary in the collector as it is defined in the API guide document.

What is the Last_Updated date string used for? Do I need to keep this manually?

I see @roll uses record = Record.create(url, data) - What is the URL argument here for? Do I need to use the current endpoint I am getting data from?

Also, you define a sp

[2016-05-18 19:31] roll commented on #128
@BenGosub
- `Record.last_updated` is a key of your data model representing the when record was last updated on source. It could be `None` (used only for log message)
- `Record.create's url` argument - url of the source from where data's been collected. For API it could be url of the last query with pagination or something similar.
- Yes to use handy `Pipeline.write_item` method we need this virtua

[2016-05-18 19:38] roll commented on #145
Registry is a source with a type `register` and `Pubmed` is a source with a type `other`.

[2016-05-19 05:14] pwalsh opened #150 "Missing data? Sponsor/organisation data from euctr"
See this trial:

- UI: http://explorer.opentrials.net/trials/61a6fc7e-2e37-406e-b7f9-5a3384f05146
- API: http://api.opentrials.net/v1/trials/61a6fc7e-2e37-406e-b7f9-5a3384f05146
- One record: http://api.opentrials.net/v1/trials/61a6fc7e-2e37-406e-b7f9-5a3384f05146/records/7196296c-74f6-469e-9479-98334077b4c4
- The source for that record: https://www.clinicaltrialsregister.eu/ctr-search/trial/2006-

[2016-05-19 05:16] pwalsh opened #151 "Is this source record parsed correctly?"
Example: http://api.opentrials.net/v1/trials/61a6fc7e-2e37-406e-b7f9-5a3384f05146/records/7196296c-74f6-469e-9479-98334077b4c4

I see lots of escape chars. Looks quite wrong, but I did not look too deeply.

[2016-05-19 05:21] pwalsh commented on #145
@roll thanks. In light of that, I updated the issue.

[2016-05-19 05:55] pwalsh opened #152 "Trials do not have their identifiers!"
# Description

Trial identifiers are an extremely crucial property of any trial. We have two fields in our ideal model for this: `primary_id` and `secondary_ids`, following the [WHO Data Set](http://www.who.int/ictrp/network/trds/en/). These are not exposed via our API.

#### Example call

http://api.opentrials.net/v1/trials/164f3571-8248-4943-9682-8ea97708e352

#### Screenshot

<img width="1280"

[2016-05-19 06:02] pwalsh opened #153 "Add section to trial pages for identifiers"
# Description

Requires #152

Trial identifiers are a crucial piece of information about a trial, but they are not exposed via our UI for trials.

The API has three fields that return identifiers:

- `primary_id`: the supposedly canonical ID for a trial, given by some external system
- `secondary_ids`: other IDs given by other systems to the same trial
- `id`: the internal identifier we use in Ope

[2016-05-19 06:15] roll commented on #152
For now we have e.g. for some trial:
- primary_register=ClinicalTrials.gov
- primary_identifier=NCT1233243
- identifiers={'nct': NCT1233243, 'isrctn': ISRCTN2342342} (with key following sources naming)

[2016-05-19 06:21] pwalsh commented on #152
@roll I don't quite follow:

1. Do we have ids exposed via the WHO Data Set fields we agreed on, or not?
2. What does it mean we have for "some" trials? For example, the trial in my original issue above is this one ( https://www.anzctr.org.au/Trial/Registration/TrialReview.aspx?id=365397&isReview=true ) and it has an ID at the source (`ACTRN12613001334796`).

Not exposing ids, for all trials via t

[2016-05-19 06:23] roll commented on #152
@pwalsh
my bad - for all trials we have this fields. Example for some trial.

[2016-05-19 06:26] pwalsh commented on #151
Probably related:

URL:

http://api.opentrials.net/v1/trials/164f3571-8248-4943-9682-8ea97708e352/records/71bdb42d-b004-49fc-bdb5-19fbe2ff7bdc

Screenshot:

<img width="1280" alt="screenshot 2016-05-19 09 26 28" src="https://cloud.githubusercontent.com/assets/791678/15384505/c6ee3738-1da3-11e6-9001-b90e06db310b.png">

[2016-05-19 06:39] pwalsh opened #154 "Custom processor to get trial source count data to CSV"
# Description

For each trial, write a record of:
- ID
- SOURCE_COUNT (# of sources for that trial)
- PRIMARY_ID
- SECONDARY_ID{_1;_2;etc} - iterate over the ids to create columns
- {SOURCE_NAME} ("Yes" or "No") indicating if THIS source provided data.

Example:

[code]
# Tasks
- [ ] Write the SQL query to get our required data from the warehouse.
- [ ] Write the [JSON Table Schema](http://datapro

[2016-05-19 06:40] pwalsh commented on #154
@vitorbaptista @roll this is the processor I was talking about in slack.

[2016-05-19 06:43] roll commented on #128
About second part of question. For now we're not yet on continuous collecting workflow - https://github.com/opentrials/opentrials/issues/106 - but everything is ready to start to use it. All collectors will be running as docker services with `restart: always`.

So this collector could be the first working this way. It could be this steps:
- add to process `while True` cycle
- sleep OR exit after s

[2016-05-19 06:47] pwalsh opened #155 "Trial has empty "public_title""
1. I find myself a trial on the EU register: https://www.clinicaltrialsregister.eu/ctr-search/trial/2010-019261-28/results
2. I take their identifier `2010-019261-28` and paste it in the search box of the OpenTrials Explorer: http://explorer.opentrials.net/search?q=2010-019261-28
3. I get a result that does seem to relate (the treatment string "NNC 0142-0000-0002" can be found on the EU CTR page)

[2016-05-19 06:54] pwalsh commented on #152
@roll i remember we chatted about this on slack a while ago: that my pref. was for just an `ids` array which makes it easier to work with identifiers, rather than two distinct fields which is more arbitrary (there i no clear and obvious way to say one id is "primary"). So my pref., and it is open for debate is that instead of `primary_id` and `secondary_ids` we just have `ids` , and the convention

[2016-05-19 06:54] roll commented on #151
It's the same as https://github.com/opentrials/opentrials/issues/117

It's already fixed on `processors` so waiting database re-population.

[2016-05-19 06:56] pwalsh commented on #152
But the most important thing for me, in this sprint, is that this data is accessible through standard properties on the trial object via the API (the original issue opened).

[2016-05-19 07:01] roll commented on #152
`ids` in API looks good for me. So to get it from current database:
[code]

[2016-05-19 07:07] roll commented on #128
@BenGosub
Also based on gitter discussion to clarify. All credentials should go to `.env` file (it's in gitignore).
To read it from script you could use `os.environ` (will be added automatically from this file).

[2016-05-19 07:09] pwalsh opened #156 "Cache files that are referenced in sources"

[2016-05-19 07:11] pwalsh opened #157 "Summary reports from EUCTR"
# Description

Some records on EU CTR have a summary report: https://www.clinicaltrialsregister.eu/ctr-search/trial/2010-019261-28/results

This does not seem to be covered in our extraction. We need to update our extractor for EUCTR for this (and possibly other?) fields of data, so we can then proceed with https://github.com/opentrials/opentrials/issues/156

# Tasks

- [ ] Update extractors to de

[2016-05-19 07:22] pwalsh opened #158 "Push PDFs to Document Cloud"
TBD

[2016-05-19 07:23] pwalsh commented on #156
@vitorbaptista any comments on this? Not urgent for you to comment.

[2016-05-19 08:02] roll commented on #128
@BenGosub
Please rebase on `master` - now instead of ugly:
[code]
you could use just:
[code]

[2016-05-19 08:08] roll commented on #128
@BenGosub
One other note)

Logging is used automatically on `base.writers.wirte_record` like `DEBUG:collectors.base.writers:Record - created: <ICDCM: B77 [2015-10-01]> - 9 fields`

But it will be a good practice to add some `INFO` message on `hra` collector level. See `fdadl` as example. Those messages could be:
- can't query because of schedule (sleep 1h and exit)
- collected 100 (200, 300 etc) r

[2016-05-19 08:28] vitorbaptista commented on #145
Maybe we should simply add a `Sources` select, with no distinction between registries and others? I understand that they're different things, but given that there're not many sources (and will not be), I think it's easier for the user to have one less option.

[2016-05-19 08:32] vitorbaptista commented on #156
This feels like a type of `Document`, where it could have a `url` and a `cached_url`. What do you think, @roll?

[2016-05-19 08:37] roll commented on #156
Yea it looks like `documents`. About how to get it - it's clear.

[2016-05-19 09:06] roll commented on #87
@vitorbaptista
We don't write to `database` from API/UI - why do not use production database url for `api.next` and `explorer.next`?

[2016-05-19 09:11] vitorbaptista commented on #87
@roll because of the database migrations

[2016-05-19 09:15] vitorbaptista commented on #151
@roll assigning this to you. Please close it when the data is fixed :+1:

[2016-05-19 09:21] vitorbaptista commented on #155
Looking at the JSON data from the API, we have:

[code]

The only reason this Trial was returned is because the identifier `2010-019261-28` is part of the `source_url`. This should be fixed in https://github.com/opentrials/opentrials/issues/152.

Then we have the issue with it not having a `public_title`, which is related to data cleaning. @roll could you check this?

[2016-05-19 09:39] pwalsh commented on #155
@vitorbaptista if it was not returned because of the actual identifier, it is a serious issue. But, maybe it is exactly the same as the #152 issue.

[2016-05-19 09:41] roll commented on #30
@vitorbaptista
with all 3 PRs applied everythin works as expected :+1:

[2016-05-19 09:42] vitorbaptista commented on #155
@pwalsh yeah, this was returned just because the source's URL contain the id, so we were lucky. Searching for ID isn't implemented yet, only after #152.

[2016-05-19 09:43] pwalsh commented on #155
@vitorbaptista can searching for ID be added in #152 ?

[2016-05-19 09:43] vitorbaptista commented on #30
Fixed :+1:

[2016-05-19 09:43] #30 closed

[2016-05-19 09:46] vitorbaptista commented on #152
Make sure the `ids` attribute is exposed in the [Trial model](https://github.com/opentrials/api/blob/master/api/models/trial.js) (just add it to the `visible` array)

[2016-05-19 09:47] vitorbaptista commented on #155
@pwalsh sure! Added a comment in https://github.com/opentrials/opentrials/issues/152#issuecomment-220277454 to make sure we don't forget it.

[2016-05-19 09:49] pwalsh commented on #145
@vitorbaptista ok, perhaps. can consider when we implement.

[2016-05-19 09:50] roll commented on #97
@vitorbaptista
It should be a much simpler. At `processors` layer I already use `records`. So only database table name is `trialrecords`:
[code]

[2016-05-19 09:51] pwalsh commented on #156
@vitorbaptista @roll cool. As this will be a first step to getting stuff on document cloud (related to FDA project too), I'm going to get an MVP test for this done asap.

[2016-05-19 09:55] BenGosub commented on #128
I am thinking about starting with latest data and going back by querying for 30 day periods in each request with 30s pauses between each request (is this reasonable?).

On the beginning of every new restart the earliest date that has been stored in the Warehouse is needed so that the process can continue where it stopped the last time. I suppose this can be obtained if I log the value or store it

[2016-05-19 09:58] pwalsh commented on #128
@BenGosub we keep only the latest (ie: if a record was modified, we update the record in our db).

The other questions are very implementation specific, and should be discussed with @vitorbaptista and @roll

[2016-05-19 10:02] roll commented on #128
@BenGosub
About getting information about when collector has touched the `warehouse` last time - it's `meta_updated` field in database table.

Record internal fields (see `base.Record`):
[code]

[2016-05-19 11:18] vitorbaptista commented on #97
Fixed

[2016-05-19 11:18] #97 closed

[2016-05-19 13:16] smth commented on #121
- OKI Panel is added, with slight menu layout changes to accommodate it.
- The cookie bar is added in [this branch](https://github.com/opentrials/opentrials/tree/cookie-bar), but currently is not dependant on Google Analytics (there is no Google Analytics). Not sure if should be merged as is.

[2016-05-19 13:30] vitorbaptista commented on #142
As an example of the search query for `Location == Japan`, see http://api.opentrials.net/v1/search?q=location:Japan

Instead of adding a `searchCount` element, I would simply add these results to the context and use `searchResult.total_count` in the view.

[2016-05-19 13:59] roll commented on #87
oh right) So I suppose I need to do this first - https://github.com/opentrials/opentrials/issues/105 - where I'll be updating docker-cloud setup (and I'll be ably to add staging environment).

Let move it to backlog?

[2016-05-19 14:14] vitorbaptista commented on #98
The code for this in the API is done, but I can't merge it before cleaning our database's data. Otherwise, the migration will fail. Looking into the production database, we have:

[code]

[2016-05-19 14:15] vitorbaptista commented on #98
@roll assigning it back to you

[2016-05-19 14:23] vitorbaptista opened #160 "Improve the flash message's UI"
![flash messages](https://cloud.githubusercontent.com/assets/76945/15396772/7bd859ea-1dd5-11e6-8db0-b9ec08efe4a2.png)

To view them, either upload a file or edit the `view/partials/flash-messages.html` to show them regardless of having flash messages or not.

[2016-05-19 14:34] pwalsh commented on #142
thx @vitorbaptista

[2016-05-19 14:36] vitorbaptista opened #161 "Should we increase our colours' contrast?"
Even though I'm lucky to have almost 20/20 vision (so far), I have issues reading the text in some parts. The two main colours we use are a shade of blue #05b0e1 (![OpenTrials-blue](https://cloud.githubusercontent.com/assets/76945/15397089/b73388f6-1dd6-11e6-96ae-20388babed6c.png)) and white (#fff).

According to http://webaim.org/resources/contrastchecker/, they have a contrast ratio of 2.53:1, w

[2016-05-19 15:07] borysyuk commented on #152
@vitorbaptista I saw two fields 'primary_id' and 'secondary_ids' in `trials` table. swagger.yaml hasn't contained that fields so we couldn't see them in result.
But after merging my branch with upstream master and migration i see that `secondary_ids` field disappeared but new field `identifiers` appeared. Should I print  both fields (`primary_id` and `identifiers`) in result?

[2016-05-19 16:25] borysyuk commented on #109
@vitorbaptista: done

[2016-05-19 16:30] vitorbaptista commented on #152
@borysyuk Don't display `primary_id` or `secondary_ids`, just `identifiers` as an array where the first element contains the `primary_id` (as per https://github.com/opentrials/opentrials/issues/152#issuecomment-220243443)

With Bookshelf, this `identifiers` should be a virtual attribute. You can check an example of virtual attributes in `api/models/trial.js` and `api/models/record.js` in `opentria

[2016-05-19 16:32] vitorbaptista commented on #152
@roll Could you provide an example of a `trial.identifiers`? Why is it an object, and not an array? I couldn't find any in prod database...

It feels wrong to overload an attribute that exists in the DB with another value in the model. Ideally, we should simply expose the `identifiers` as it exists in the DB.

[2016-05-19 17:54] vitorbaptista commented on #113
@borysyuk I merged your PR https://github.com/opentrials/api/pull/46 as https://github.com/opentrials/api/commit/6cdf2737df32ad3305c202de631d85f68232be3e and went on to add some seed data in https://github.com/opentrials/api/commit/5d34ab3f16fa3ceff0c3cbb698334c2dcda9e168 and https://github.com/opentrials/api/commit/692546320e8e0900db32680f5b3d15ac9d1840e8. Unfortunately, that showed me that the c

[2016-05-19 17:57] pwalsh opened #163 "Get more trial data out of Pubmed"
# Description

In the PubMed processor, we search the PubMed data for matches on *trails we already know* from registers.

Additionally, trial IDs found in PubMed for trials we do not know can start the skeleton of a trial record (even if just the ID!!), and therefore need to be used to create new records and trial objects.

# Tasks

- [ ] Update the pubmed processor to create trial records when w

[2016-05-19 17:59] pwalsh commented on #163
@vitorbaptista @roll just FYI here, as we'll need to be aware of this pattern for all new sources going forward: they may uncover trials that we do not yet know about, and we need to build skeletons for them with what little info we can get.

[2016-05-19 17:59] pwalsh commented on #138
Also see notes https://github.com/opentrials/opentrials/issues/163#issuecomment-220403757 about trial id matching.

[2016-05-20 06:30] roll commented on #152
@vitorbaptista
example - https://github.com/opentrials/opentrials/issues/152#issuecomment-220236831

For processors only requirement is it should be all identifiers (for deduplication). Array or dict doesn't matter. Problem with array could be in losing information. For example if this array will be including id `2342-345-435` - i'm not sure how it could be useful.

[2016-05-20 07:43] roll opened #165 "Repopulate database after data cleaning"
It will include following fixes (see the issue timeline).

[2016-05-20 07:44] roll commented on #117
FIXED
https://github.com/opentrials/opentrials/issues/165

[2016-05-20 08:08] roll commented on #151
FIXED
https://github.com/opentrials/opentrials/issues/165

[2016-05-20 08:09] pwalsh commented on #151
@roll @vitorbaptista is there any way I can verify this is actually fixed?

[2016-05-20 08:11] roll commented on #98
@vitorbaptista
what enum do you use? I can't find API PR for it.

[2016-05-20 08:15] roll commented on #98
- pending
- recruiting
- suspended
- complete
- other

[2016-05-20 08:23] roll commented on #151
@pwalsh
Let choice workflow for it.

I could leave all issues open before database repopulation OR you could do QA in a batch in this - https://github.com/opentrials/opentrials/issues/165 - issue

[2016-05-20 08:24] pwalsh commented on #151
@roll i'll just do QA as part of acceptance on the grouped cards. For this particular issue, I was more curious, because it blocks me for checking the design of those source pages, and therefore seeing if we need @smth to do something on them.

[2016-05-20 08:26] roll commented on #98
@pwalsh
do you think we need to map this https://github.com/opentrials/opentrials/issues/98#issuecomment-220336973 to this https://github.com/opentrials/opentrials/issues/98#issuecomment-220543587

pros:
- improve quality of discrepancy report
cons:
- some domain insight required to do it without errors

If yes - current OR backlog?

[2016-05-20 08:28] roll commented on #151
I'll try to make it alive soon.

But in general - all this stuff - https://github.com/opentrials/opentrials/labels/data%20cleaning - preserve it open before it will hit production OR close after code is fixed?

[2016-05-20 08:34] roll commented on #151
quickest thing I could do for Sam:
![ot](https://cloud.githubusercontent.com/assets/557395/15421996/c7dfa466-1e7e-11e6-85b5-a9970a10de51.png)

[2016-05-20 08:37] roll commented on #151
CODE FIXED, WAIT - https://github.com/opentrials/opentrials/issues/165

[2016-05-20 08:37] roll commented on #117
CODE FIXED, WAIT - https://github.com/opentrials/opentrials/issues/165

[2016-05-20 08:38] pwalsh commented on #98
yes, and current :). a best judgement mapping will be absolutely great, and then we need to document that we do such a mapping, so we can show it to some of our domain experts at a later stage.

[2016-05-20 08:39] pwalsh commented on #151
@roll as normal: close issues when you do them, and I check as part of acceptance. This question was a one off case.

[2016-05-20 08:56] roll commented on #82
DUPLICATE - https://github.com/opentrials/opentrials/issues/155

[2016-05-20 08:56] #82 closed

[2016-05-20 09:11] vitorbaptista commented on #151
This issue "only" affects production, so it shouldn't block Sam (e.g.: http://explorer.next.opentrials.net/trials/05cc77ad-5575-4c04-9309-4c64d5144b07/records/7cd88d88-031d-11e6-b512-3e1d05defe78)

[2016-05-20 11:19] roll commented on #98
READY FOR DEPLOY - https://github.com/opentrials/opentrials/issues/165

[2016-05-20 11:28] roll commented on #98
@vitorbaptista
Take a look on https://github.com/opentrials/api/commit/3ccd746b0afd4fd31407a7cd09f06d0d72ed0531 (`recruting` values is missing)

[2016-05-20 15:27] roll commented on #155
READY FOR DEPLOY - #165

[2016-05-20 17:28] vitorbaptista commented on #111
@roll I've sent PRs for this on the processors, API and explorer (https://github.com/opentrials/opentrials/pull/166). Please take a look...

[2016-05-20 18:19] roll commented on #111
@vitorbaptista
Great. Done.

[2016-05-23 06:29] smth commented on #161
Good point @vitorbaptista . I think we can improve this by changing the colour slightly and then ensuring that smaller text (below 18pt) is emboldened. I'll look at a couple of options.

[2016-05-23 13:26] smth commented on #131
Contribute URL will need to be defined [here](https://github.com/opentrials/opentrials/commit/34ea752296a58b2804726fd6e0502581c2aaeae1#diff-aef0d9288fce72641c4b8450d62f4dfeR16). Unless it's different for each type of data, in which case it can be defined in each of [these macros](https://github.com/opentrials/opentrials/commit/34ea752296a58b2804726fd6e0502581c2aaeae1#diff-aef0d9288fce72641c4b8450d

[2016-05-23 15:08] vitorbaptista opened #170 "Escape queries to ElasticSearch"
The query string has a few reserved characters (see https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#_reserved_characters). We need to escape them before passing strings to ElasticSearch.

For a way to do it, check https://github.com/elastic/elasticsearch-js/issues/257

As a longer-term solution, we might rethink our use of query strings, or investi

[2016-05-23 15:10] vitorbaptista opened #171 "Escape queries to ElasticSearch"
The query string has a few reserved characters (see https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#_reserved_characters). We need to escape them before passing strings to ElasticSearch.

For a way to do it, check https://github.com/elastic/elasticsearch-js/issues/257

As a longer-term solution, we might rethink our use of query strings, or investi

[2016-05-23 15:12] vitorbaptista opened #172 "Escape queries to ElasticSearch"
The query string has a few reserved characters (see https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#_reserved_characters). We need to escape them before passing strings to ElasticSearch.

For a way to do it, check https://github.com/elastic/elasticsearch-js/issues/257

As a longer-term solution, we might rethink our use of query strings, or investi

[2016-05-23 16:50] vitorbaptista commented on #172
Duplicate of #171

[2016-05-23 16:50] #172 closed

[2016-05-23 16:51] vitorbaptista commented on #171
Duplicate of #170

[2016-05-23 16:51] #171 closed

[2016-05-23 17:00] vitorbaptista commented on #135
What this date period means? The number of participants can be found through `trial.target_sample_size`, the gender through `trial.gender` (can be "both", "male" or "female" [1]), and I'm not sure if we have data for the age (right, @roll?).

[1] Unrelated to this, but maybe we need to add more genders here? There seems to be a few trials related to transgenders, for example (http://explorer.opent

[2016-05-24 06:07] smth commented on #135
Thanks @vitorbaptista
The date was intended to be the period that the trial took / is taking / will take place.

+1 on the genders. I'm also wondering if "men and women" should become something like "non gender specific".

[2016-05-24 06:51] roll commented on #135
We could try to get data for age but I suppose it will be hard to get across different sources.

[2016-05-24 07:23] smth commented on #135
For now I've added those two that we have https://github.com/opentrials/opentrials/commit/a2e53bb5306de314c4baf44f8245545829d5085e#diff-aef0d9288fce72641c4b8450d62f4dfeR10

[2016-05-24 08:19] vitorbaptista commented on #135
@roll what about the period for the trial? Do you think we have that info? How to get it?

[2016-05-24 08:23] roll commented on #135
We need to explore our data to answer it. We could extract something I suppose.

[2016-05-24 09:14] vitorbaptista commented on #152
@roll Makes sense. I agree with the reasoning of having middle layers (to convert data between the layers), but this is an abstraction that tends to leak. For example:

[code]

This leak is contained inside the API code, so that's somewhat OK, but that's a pattern we should strive to avoid IMHO.

@borysyuk Please implement https://github.com/opentrials/opentrials/issues/152#issuecomment-220379637.

[2016-05-24 10:04] vitorbaptista commented on #135
So, for now, we can only do the number of participants and gender. @smth The UI side for the dates and ages is done, so we can add it whenever we have the data :+1:

[2016-05-24 10:07] roll commented on #135
We also could create separate `get age interval data` issue in the backlog.

[2016-05-24 10:10] vitorbaptista opened #173 "Extract age information from trials"
For the registries and trials that have it, we should extract the age range of the participants.

[2016-05-24 10:12] vitorbaptista commented on #135
I'd guess that's pretty important, however I'd rather avoid adding more tasks for the current iteration. I created a new issue for it at https://github.com/opentrials/opentrials/issues/173, so we can decide what to do with it during our next iteration planning.

For now, I'd say we keep the registration date (as is) plus the gender and number of participants, which is what we can do with what we h

[2016-05-24 10:13] roll commented on #135
I've wrote to the backlog of course :+1:

[2016-05-24 10:35] #122 closed

[2016-05-24 10:35] #131 closed

[2016-05-24 10:35] #132 closed

[2016-05-24 10:54] vitorbaptista commented on #142
Fixed by https://github.com/opentrials/opentrials/commit/598f843122caf922ea9eb13000017a81c307fd3c

[2016-05-24 10:54] #142 closed

[2016-05-24 11:20] vitorbaptista opened #174 "Improve OKI Ribbon's UI on mobile screens"
Currently the ribbon looks like:

![OKI Ribbon on mobile](https://cloud.githubusercontent.com/assets/76945/15502046/69b2e000-21a9-11e6-83bf-a89bb61d6e30.png)

It looks out of place with the rest of the design. Even if we change the color scheme, it's occupying the prime location in the design. Considering that there's already a link for OKI on the footer, maybe we could simply hide it when on mobi

[2016-05-24 11:35] pwalsh commented on #174
backlog.

[2016-05-24 12:51] smth commented on #137
Regarding the icons, do we have treatment types I can use here @vitorbaptista i.e
- Drug
- Procedure
- Behaviour
- Placebo

[2016-05-24 13:08] roll commented on #137
@smth
for now we have: `drug`, `procedure` and `other`

[2016-05-24 13:19] smth commented on #137
OK, thanks.

[2016-05-24 14:27] vitorbaptista commented on #124
For the "More results" search link, you must generate an URL like `/search?person=Sylvia+Wilson%2C+MD` (try adding the filter manually in the search page, so you can see which param relates to which entity)

To see what data each entity has available, check:
* http://api.opentrials.net/v1/persons/3b4f3ee7-fb08-486e-81ce-a11ce0746a6e
* http://api.opentrials.net/v1/organisations/511ba3f1-a5bf-4aed-a

[2016-05-25 06:27] pwalsh opened #176 "Mapping gender from ANZCTR"
- no data for gender: http://explorer.opentrials.net/trials/164f3571-8248-4943-9682-8ea97708e352
- source has a gender field (requires parsing the string): https://www.anzctr.org.au/Trial/Registration/TrialReview.aspx?id=365397&isReview=true

[2016-05-25 10:56] roll opened #177 "Possible pubmed collector improvements"
- collect mesh terms
- collect keywords
- collect full text link when available (not in xml, html needed)
- use more smart method for generating start_urls (see below)
- check `pdat` ad `datetype` in query is good enough

search for wildcarded `nct10[0-9]*`, `isrctn1[0-9]*` etc in all fields - we need some cycle algorithm here because max 600 identifiers could be used in one Pubmed search

[2016-05-25 11:35] roll opened #178 "Fix jprn collector"
`jprn` has changes their html page for trials - https://upload.umin.ac.jp/cgi-open-bin/ctr_e/ctr_view.cgi?recptno=R000025793 - so `jprn.record` and `jprn.parser` should be changed accordingly.

[2016-05-25 11:36] roll commented on #107
DONE
#177
#178

[2016-05-25 11:36] #107 closed

[2016-05-25 11:38] smth commented on #124
I think I've done about as much as I can [here](https://github.com/opentrials/opentrials/commit/a36814ac8878f8dfada541fe719bbce647ce4ecb).

I have hard-coded the "We do not have any more information" text, as it seems to me that there is no data at the moment.

The count for "More results" is currently the same one used for the "recent" results.

The download link needs to be added (I don't know w

[2016-05-25 11:51] smth commented on #153
I'm not seeing `primary_id` or `secondary_ids` in http://api.opentrials.net/v1/trials/05cc77ad-5575-4c04-9309-4c64d5144b07
What am I missing?

[2016-05-25 11:52] pwalsh commented on #153
@vitorbaptista can you help here based on the current API that @smth has to work with

[2016-05-25 13:34] roll opened #179 "Get more data from sources"
On first iterations on `collecotors` and `processors` big amount of data has been extracted. But it's still not quite 100%.

To improve it deep source reviews could be used (it will take 1-3 dev-hours per source):
- see what's missing on `processors` e.g. https://github.com/opentrials/processors/blob/master/processors/actrn/extractors.py
- see what's available on `collectors` e.g.
https://github.c

[2016-05-25 13:38] roll commented on #104
DONE
#179

[2016-05-25 13:38] #104 closed

[2016-05-25 14:18] vitorbaptista commented on #153
This data will only be added after https://github.com/opentrials/opentrials/issues/152 is done.

@smth Just so you're not blocked on that, you can consider that the IDs look like:

[code]

[2016-05-25 14:23] vitorbaptista commented on #124
The download link is simply a link to the API (e.g. http://api.opentrials.net/v1/persons/3b4f3ee7-fb08-486e-81ce-a11ce0746a6e)

About having more data, you're right. The only thing we have for these entities is their name.

[2016-05-25 15:15] roll opened #180 "Add models concept to processors?"
`collectors` have been stabilized around `Record` concept - declarative description of collected data.

The same will be good to implement for  `database` entities in `processors` - `Model` or `Object` (`TrialModel` etc). It will be simple dict with declared fields like in `Records` (I suppose we can't integrate here with full-cycle ORMs, but may be we can=) with the main purpose is to describe wh

[2016-05-26 10:22] smth commented on #124
OK, so is there a variable available to the template for that? Or for the base of the API URL at least?

[2016-05-26 11:09] vitorbaptista commented on #152
@roll and I talked this morning about these identifier. We can't have them as a simple array of strings because we need a way to link which identifier comes from which source. So, our solution is:

1. trial.identifiers should have an object in the format: `{ 'SOURCE_ID': 'IDENTIFIER_VALUE', ... }`, for example, `{ 'nct': 'NCT123456', 'isrctn': 'ISRCTN2342342', ... }`;
2. Rename `trial.source_id` t

[2016-05-26 11:20] pwalsh commented on #152
@vitorbaptista we need to know that relation for sure, but not necessarily as part of the identifiers property of the ideal trial object (just like we do not know where the other fields came from on the ideal trial object).

[2016-05-26 12:03] vitorbaptista commented on #124
@smth I've just added an `url` attribute to each entity. This is now deployed on staging, check http://api.next.opentrials.net/v1/search

This change should make it easier for you :+1:

[2016-05-26 12:06] vitorbaptista commented on #152
@pwalsh Still, even for displaying, we need to know where the identifiers are coming from. With some identifiers, like `NCT123456`, it's easy to figure out, but that might not be true for all of them, so we shouldn't rely on it.

[2016-05-26 12:08] pwalsh commented on #152
ok no worries

[2016-05-26 12:31] smth commented on #153
OK, thanks. I've speculated a little and added these like so https://github.com/opentrials/opentrials/commit/59676c7f25a93c3a019b914dcd325847e6fe70c3#diff-aef0d9288fce72641c4b8450d62f4dfeR119

[2016-05-26 13:08] roll commented on #138
@BenGosub
I've add one task to the first post - how to get `database` schema prepared.

[2016-05-26 13:15] BenGosub commented on #138
@roll OK I see,  I will ping you if I have some questions.

[2016-05-26 13:26] smth commented on #160
I've improved these as part of PR https://github.com/opentrials/opentrials/pull/181.

[2016-05-27 10:50] roll opened #182 "Improve persons/organisation processing logic"
# Problem

Persons/organisations processing logic has many problems - we need to improve it.

# Analysis

Problem occurs because of not fully deep dive into data on first rounds of processor implementations.

# Development

- [x] jprn
- [ ] isrctn
- [ ] nct - #127, #248
- [ ] euctr - #150
- [ ] actrn - #130

[2016-05-27 10:51] roll commented on #150
MERGED
https://github.com/opentrials/opentrials/issues/182

[2016-05-27 10:51] #150 closed

[2016-05-27 10:51] roll commented on #127
MERGED
https://github.com/opentrials/opentrials/issues/182

[2016-05-27 10:51] #127 closed

[2016-05-27 10:51] roll commented on #130
MERGED
https://github.com/opentrials/opentrials/issues/182

[2016-05-27 10:51] #130 closed

[2016-05-28 06:38] roll opened #185 "Implement persons deduplication"
Entities with dedup based on unique slug:
- condition
- intervention
- location
- organisation

Entities with dedup can't be based on unique slug:
- trial
- person (not implemented for now)

[2016-05-28 06:42] roll commented on #185
@vitorbaptista
May be we need hide the same names in advanced search drop-down? Because this problem will not be solved on 100% even after dedup.

[2016-05-28 10:52] vitorbaptista commented on #185
@roll Agreed, specially because there might be cases with two people with the same name. There's probably some configuration for ElasticSearch to return only unique results.

[2016-05-30 09:01] roll opened #186 "Order for all trials search results?"
Steps to reproduce:
- go to http://explorer.opentrials.net/
- click on `search` button (search form)

It looks like it's just a random order but as *User* I expect something like recent updated or <other>?

[2016-05-30 11:01] roll commented on #80
FIXED

[2016-05-30 11:01] #80 closed

[2016-05-30 11:02] roll commented on #81
FIXED

[2016-05-30 11:02] #81 closed

[2016-05-30 11:02] roll commented on #98
FIXED

[2016-05-30 11:02] #98 closed

[2016-05-30 11:03] roll commented on #117
FIXED

[2016-05-30 11:03] #117 closed

[2016-05-30 11:03] roll commented on #126
FIXED

[2016-05-30 11:03] #126 closed

[2016-05-30 11:04] roll commented on #133
FIXED

[2016-05-30 11:04] #133 closed

[2016-05-30 11:04] roll commented on #134
FIXED

[2016-05-30 11:04] #134 closed

[2016-05-30 11:04] roll commented on #151
FIXED

[2016-05-30 11:04] #151 closed

[2016-05-30 11:04] roll commented on #155
FIXED

[2016-05-30 11:04] #155 closed

[2016-05-30 11:26] roll commented on #165
DONE

[2016-05-30 11:26] #165 closed

[2016-05-30 12:23] pwalsh commented on #124
DONE

[2016-05-30 12:23] #124 closed

[2016-05-30 12:41] vitorbaptista commented on #120
Fixed in https://github.com/opentrials/api/pull/55

There isn't an actual endpoint for the discrepancy data, but an endpoint to list `records` related to a `trial` (`/trials/{id}/records`) and a new `has_discrepancies` attribute in the trial. With these two things, we can show the discrepancies in the Explorer (https://github.com/opentrials/opentrials/pull/184)

[2016-05-30 12:41] #120 closed

[2016-05-30 12:52] vitorbaptista opened #187 "It shouldn't be possible to run "npm run seed" in production"
The problem is that `npm run seed` not only adds bogus data, but also cleans the DB. The command `npm run seed` shouldn't work if `NODE_ENV` equals `production`.

Make sure it can be used in `staging` (which will require at minimum adding a `staging` environment in `knexfile.js`)

[2016-05-30 16:58] vitorbaptista opened #188 "Stats endpoint is timing out"
http://api.opentrials.net/v1/stats is timing out, while http://api.next.opentrials.net/v1/stats works fine. I think this is a performance problem, as the code is (currently) the same in both staging and production, with the only difference being the amount of data.

[2016-05-30 17:14] vitorbaptista commented on #118
@pwalsh The code for this was merged, we just need a Google Analytics ID now. Could you create one with whatever Google account suits best and post its ID here? Also, please give me admin permissions on it.

[2016-05-30 17:37] vitorbaptista commented on #118
Done :+1:

[2016-05-30 17:37] #118 closed

[2016-05-30 17:48] vitorbaptista opened #189 "Should be able to link data contributions to trials (and other entities)"
For example, if a person clicks on "Contribute data" in a specific condition, we should save that relationship. In other words, that data contribution should have a relationship to the condition.

[2016-05-30 17:50] pwalsh commented on #189
@vitorbaptista definitely. That matches one of the user stories of course :) https://trello.com/c/k6wtkFGH/19-as-a-contributing-user-i-want-to-be-able-to-add-data-to-opentrials-related-to-a-given-trial-from-a-given-trial-page-so-i-can-enr

[2016-05-30 17:55] vitorbaptista commented on #189
@pwalsh This is a bit bigger than that. It's currently possible to contribute data related to a trial, but we have links to contribute data in other places. For example, http://explorer.opentrials.net/conditions/f79f1404-529c-45e0-accd-2f49ce7e7d71. So this issue is about being able to link data contributions to any entity, and not only trials.

[2016-05-30 18:41] pwalsh commented on #119
@vitorbaptista

based on your comments here: https://github.com/opentrials/opentrials/issues/120 It is still not clear to me what the API would be (for a template designer) to implement a UI that delivers on all the user stories (see first issue).

Can you please describe it here and @smth can do a first take on it this sprint.

[2016-05-30 19:04] pwalsh commented on #111
@vitorbaptista @roll looks like this can be closed?

[2016-05-30 19:13] pwalsh commented on #121
DONE.

[2016-05-30 19:13] #121 closed

[2016-05-30 19:14] pwalsh commented on #125
@smth was anything done for this issue?

[2016-05-30 19:15] #137 closed

[2016-05-30 19:15] #136 closed

[2016-05-30 19:15] #135 closed

[2016-05-30 19:17] #160 closed

[2016-05-30 19:17] pwalsh commented on #161
DONE.

[2016-05-30 19:17] #161 closed

[2016-05-30 20:31] roll commented on #111
DONE

[2016-05-30 20:31] #111 closed

[2016-05-31 06:19] smth commented on #125
Not as far as I know. Your suggestions sound good though. I think the updated line could go at the bottom of the main column.

[2016-05-31 06:59] roll commented on #86
https://elements.heroku.com/addons/papertrail

[2016-05-31 07:27] smth commented on #119
Would this work?

Icon on number of participants:
![discrepancy-icon](https://cloud.githubusercontent.com/assets/1375708/15666522/193381b0-2709-11e6-8ee2-334e987204a7.jpg)

Details when clicked:
![discrepancy-details](https://cloud.githubusercontent.com/assets/1375708/15666544/353bb580-2709-11e6-9b08-a9c5124625f4.jpg)

[2016-05-31 07:29] pwalsh commented on #119
@smth

- love the symbol (is it too obvious/predictable to suggest it should be a shade of red?), and this is exactly what I was hoping for, so that the user gets the visual cue for discrepancies across the whole dataset on the trial page
- Love the modal too, and the explanation is super important, well done.
-

[2016-05-31 07:30] roll commented on #119
@smth
Any other indicator? Because I've just lost trying to understand where discrepancies on the screenshot before I've read you comment. May be some comment about what this icon means?

[2016-05-31 07:44] borysyuk commented on #152
@vitorbaptista, @roll  How about `record.identifiers` and `record.source_id`? What format should have these fields?

[2016-05-31 07:46] smth commented on #119
I thinking you're both picking up on the same point, that I have neglected the second user story. I think the above is fine for seeing if a particular data point has discrepancies (though making the icons red might be to err on the safe side), but if your primary goal was to see if a trial had *any* discrepancies, this would not be sufficient.

A couple of ideas:
- A button to highlight all the di

[2016-05-31 07:49] pwalsh commented on #119
@smth ideally, I was aiming for both:

- visual tagging of all fields with discrepancies on the main detail page (at a glance, can see if data is highly divergent or just a single field, for example)
- a proper list of all discrepancies

[2016-05-31 08:00] smth commented on #119
So we could make the icons more obvious by default. I guess the key question are:
- How useful is a trial that has lots of discrepancies?
- What is the priority, highlight problems or deliver information?

There is balance to consider between making discrepancies easy to find, and making people think "this page is full of problems, it's not useful source of information".

[2016-05-31 08:18] borysyuk commented on #152
@vitorbaptista, @roll another question: `trials` table has field `primary_id` seams like `primary_id` and `primary_source_id` are equal Isn't it?

[2016-05-31 08:20] pwalsh commented on #119
For first question: very useful. It highlihgts much breakage around publication of clinical trial data - something we want to highlight in this project.

2nd question: not sure one is against the other - the first part (problems) is a subset of the second (information)

[2016-05-31 08:30] smth commented on #119
Sorry, I meant how useful for researching a drug / condition. For someone who doesn't pay attention the discrepancies.

[2016-05-31 09:13] vitorbaptista commented on #152
@borysyuk the same thing that was done in `trials` should be done in `records` (in the same migration). Ignore the `primary_id` for now: it'll probably be removed in a future issue :+1:

[2016-05-31 10:02] vitorbaptista opened #191 "Reduce memory usage"
The API is breaking on Heroku because of lack of memory. It might be because of some memory leak, or maybe it's just Node configuration issues (check https://blog.heroku.com/archives/2015/11/10/node-habits-2016#7-avoid-garbage).

[2016-05-31 10:42] vitorbaptista opened #192 "Stats breaks because there're trials without registration_date"
A Trial can have a null `registration_date`, so `trialsPerYear` will return a `null` year, which isn't valid according to our API specs.

[2016-05-31 11:05] #192 closed

[2016-05-31 11:05] #186 closed

[2016-05-31 15:06] vitorbaptista opened #193 "Ignore discrepancies between undefined and defined fields"
For example, we shouldn't count as a discrepancy if there're two registries, one that has `gender` information and one who hasn't.

[2016-05-31 16:44] vitorbaptista opened #194 "Refactor discrepancies code"
The code that generates the discrepancies for display in the Explorer is quite similar to the one that populates the `has_discrepancies` field in the API, so they should be together.

This means that we'll need a new API endpoint (probably `/trials/{id}/discrepancies`) to expose it to the Explorer

[2016-05-31 16:44] #191 closed

[2016-05-31 16:53] vitorbaptista commented on #119
@smth Also keep in mind that there can be many sources (not only two), and the discrepancy values can be big (e.g. a couple paragraphs). For an example, see http://explorer.opentrials.net/trials/02d94f84-b733-4aa3-8edb-e4742329c147/discrepancies

[2016-05-31 16:54] #109 closed

[2016-05-31 16:55] #113 closed

[2016-06-01 09:47] roll commented on #177
Ben's suggested to get all `control randomized trials`(check)

[2016-06-01 17:44] vitorbaptista commented on #152
Fixed :+1:

[2016-06-01 17:44] #152 closed

[2016-06-01 17:44] vitorbaptista commented on #153
Fixed :+1:

[2016-06-01 17:44] #153 closed

[2016-06-02 14:34] vitorbaptista commented on #119
I like that there's a indicator on each field with discrepancies. I'm not very fond of the modal, though.

I'm not the target user for OpenTrials. However, I'd think that when I realize that a trial has a discrepancy (say in the number of participants), my first question would be which other fields have discrepancies as well. So, instead of a modal, maybe we could link to a section in a general "d

[2016-06-02 14:38] vitorbaptista opened #195 "Source links for WHO are broken"
For example, http://explorer.opentrials.net/trials/ba2dd8c1-b379-47b8-8b28-105a5ed14374/records/1d42cc4c-1f38-408b-9722-f611ebd0a203

[2016-06-02 14:41] vitorbaptista opened #196 "Monitor for broken link https://github.com/opentrials/opentrials/issues/240ks"
Sometimes they're not our fault (e.g. #195), but we should set up monitoring to make sure we detect and ffix these issues.

[2016-06-02 14:47] #50 closed

[2016-06-02 14:53] vitorbaptista opened #197 "Report on trials with discrepancies on study end date"
_Extracted from https://github.com/opentrials/opentrials/issues/50#issuecomment-206537109_

Get results of a query which selects trials that appear in 1+ registers, that have discrepancies on study end date, and one of those is "no end date", meaning, no end date is recorded in that particular record. We'd want that query result. Further, it would be good to filter those results, based on results

[2016-06-02 14:54] vitorbaptista commented on #50
@pwalsh I extracted the report you described on https://github.com/opentrials/opentrials/issues/50#issuecomment-206537109 to #197, as we're closing this. It might be good to tag those requests in a specific label :+1:

[2016-06-02 14:56] #193 closed

[2016-06-02 15:05] vitorbaptista opened #198 "Add categories and allow links to be posted in data contributions"
The categories should be:

* Article
* Clinical study report
* Analytics code
* Trial paperwork
  * Patient information sheet
  * Consent forms
  * Case report forms
  * Protocols
  * Statistical analysis plan
  * Lay summaries
* European Public Assessment Report (EPAR) or FDA document
* Other

For links, they could be:
* Registry entry
* Press release
* Trial webpage
* Critical review
* Blog post

[2016-06-02 15:16] vitorbaptista opened #199 "Display matrix with where trials came from"
For example:

|  | NCT | ISRCTN | PubMed | Total |
| --- | --- | --- | --- | --- |
| NCT | 300 | 500 | 200 | 1000 |
| ISRCTN | 500 | 100 | 150 | 750 |
| PubMed | 200 | 150 | 50 | 400 |

This shows how many trials were deduplicated between our sources and how many are unique to that source.

Note that the values above and below the main diagonal are duplicated, so the matrix can be simplified.

[2016-06-02 15:47] vitorbaptista commented on #100
Unfortunately, the Heroku's SSL Beta is currently full. This might help whenever we get to use SSL: https://github.com/dmathieu/sabayon

[2016-06-03 06:22] smth commented on #119
I was coming to the same conclusion @vitorbaptista

[2016-06-05 11:33] roll commented on #128
FIXED
https://github.com/opentrials/collectors/pull/27

[2016-06-05 11:33] #128 closed

[2016-06-05 11:34] roll commented on #138
FIXED
https://github.com/opentrials/processors/pull/30

[2016-06-05 11:34] #138 closed

[2016-06-05 11:39] roll opened #200 "Improve pubmed data collection and processing"
# Description

More publications could be collected from `pubmed` source. Collected publications could be better linked to trials.

# Tasks

- [x] collect mesh terms
- [x] human-readable source_url
- [x] fix updating publications starts_url logic
- [x] ~~use more smart method for generating start_urls (see below)~~
- [x] rebase `pubmed` collector on `controlled clinical trial"[Publication Type]` f

[2016-06-06 19:32] pwalsh commented on #119
@smth any conclusion here?

[2016-06-07 06:50] smth commented on #119
Depending on the answer to my question above, we either keep the icons as there are above, with an option to highlight them (probably make them red), or we make them red by default. This can then link to a page as @vitorbaptista described, which can look like the example in https://github.com/opentrials/opentrials/issues/119#issuecomment-219661633.

I shall work on adding the icons where I think t

[2016-06-07 06:53] pwalsh commented on #119
@smth I'm happy with what you and @vitorbaptista decide. My answer is that I think it is useful info, even for someone not particularly paying attention to discrepancies.

[2016-06-07 08:20] #170 closed

[2016-06-07 08:32] vitorbaptista commented on #119
I agree with @pwalsh that the icon is useful. It's a bit difficult to find a good icon, maybe an exclamation point?

I slightly prefer using definition lists (like http://explorer.opentrials.net/trials/449471aa-9cd4-4ca1-bd7f-0cff8fdb863c/discrepancies) over tables (like https://github.com/opentrials/opentrials/issues/119#issuecomment-219661633), but I'm happy either way. Whatever you think is bes

[2016-06-07 08:49] vitorbaptista commented on #125
My two caveats with @pwalsh's suggestion are:

1. There aren't many source types. Most of the sources are registries (currently all of them), with a few different ones in the future (e.g. epistemonikos). I'm not sure if expliciting the different source types is useful for the user, so I'd simply use a "Sources" section for now;
2. I'm not sure how to add the "last updated" dates to the box in a go

[2016-06-07 10:09] smth commented on #119
I've created a [PR](https://github.com/opentrials/opentrials/pull/202) that hard-codes the icon in various places. All icons are highlighted when the "Data discrepancies" button (in the side bar) is hovered.

You don't think the current icons works then @vitorbaptista ?

[2016-06-07 10:21] smth commented on #125
What other information is required, and how visible do we think it needs to be? We do have the option in the design above, for the little fly-out menu. If we are talking about a lot of info, or stuff that needs to be prominent, then I'll have to rethink.

If we keep the box design, it sounds like it should be made into a single "list", with an added way to distinguish source types (if and when the

[2016-06-07 10:42] vitorbaptista commented on #119
Thanks, @smth!

Icons are very subjective and you have loads of more experience than I do in designing them. I'm happy to go with whatever you decide.

Personally, the icons would grab my attention and I would try to hover over them to see what they're about. However, even now, knowing that they represent data discrepancies, I still don't get what they are. I mean, after the first time I clicked o

[2016-06-07 10:52] vitorbaptista commented on #125
Currently, the last updated date. Maybe, as @pwalsh suggested, this information isn't very relevant and we could remove it from this page, keeping it only in the actual resource page. The current boxes would work fine as is. I can check this with Ben G. next week in Oxford. If the last updated dates are relevant, I would prefer to keep them in the side bar (maybe changing the wording). If not, I'm

[2016-06-07 11:29] pwalsh commented on #125
Ok so unassign Sam and assign to yourself.

[2016-06-07 12:50] pwalsh commented on #200
@roll

We need both Randomized Controlled Trial [Publication Type] and Controlled Clinical Trial [Publication Type], with each record tagged by type.

[2016-06-07 12:50] pwalsh commented on #200
And, can you get a count of records per category after collection (ben is asking)/

[2016-06-07 14:07] roll commented on #200
@pwalsh
ok

[2016-06-07 18:39] vitorbaptista opened #203 "Trials without registration_date are displayed as if the registration date is today"
For example, http://explorer.opentrials.net/trials/591f65e3-385c-4734-8822-9a4323b3baa7. This trial has no registration date (could be confirmed by checking its JSON at http://api.opentrials.net/v1/trials/591f65e3-385c-4734-8822-9a4323b3baa7), but it's displayed as if it had.

The issue is that the `moment` library, when called with `undefined`, returns the current date. We should avoid this behav

[2016-06-07 18:45] vitorbaptista opened #204 "Sources links should point to their human-readable form"
# Description

For example, http://explorer.opentrials.net/trials/ab82187c-905c-474c-92ad-22f7c84a4f1c/records/4626e073-2ed2-42d7-9a84-08c6ae1a7ba8 links to https://www.clinicaltrials.gov/ct2/show/NCT02641496?lup_e=02%2F04%2F2016&lup_s=01%2F01%2F2001&rank=2454&resultsxml=true, which returns the XML of the trial. It should link to https://www.clinicaltrials.gov/ct2/show/NCT02641496 instead.

@roll

[2016-06-07 18:56] vitorbaptista opened #205 "Fix page design flashing before its fully loaded"
It's OK if the contents of the page are hidden while we're loading them, and then displayed. However, currently the links in the bottom of the page appear for a few milliseconds and then disappear. Just before they disappear, this is what they look like:

![FOUT](https://cloud.githubusercontent.com/assets/76945/15870809/7d7418ca-2ce9-11e6-9389-44d16e1d69fa.png)

This happens during every page load

[2016-06-07 19:31] vitorbaptista opened #206 "Fields being wrongly marked as discrepant"
For example, http://explorer.opentrials.net/trials/daaa6ae9-40d0-41af-9d26-1436f55477ca/discrepancies show discrepancies in the `brief summary`, but they're the same (check in http://api.opentrials.net/v1/trials/daaa6ae9-40d0-41af-9d26-1436f55477ca/records)

[code]

[2016-06-07 19:34] vitorbaptista commented on #206
http://explorer.opentrials.net/trials/3f0208d6-366f-4d91-b1c9-d3dd4ea26ebf/discrepancies appears to have a similar problem

[2016-06-07 19:37] vitorbaptista opened #207 "Merge sources in discrepancies page which have the same values"
For example, if a trial has 4 sources, and 3 have one value while 1 have another, we should merge the values of the three that are the same. This makes the discrepant values more evident.

[2016-06-07 19:49] vitorbaptista opened #208 "Can trials have multiple identifiers from the same registry?"
This might be a bug in our collectors, but http://explorer.opentrials.net/trials/3f0208d6-366f-4d91-b1c9-d3dd4ea26ebf has two NCT identifiers: [NCT02732262](https://www.clinicaltrials.gov/ct2/show/NCT02732262) and [NCT02240602](https://www.clinicaltrials.gov/ct2/show/NCT02240602).

If that's not a bug (doesn't seem so), we'll have to change how we implement both `identifiers` field and `primary_so

[2016-06-07 20:39] vitorbaptista opened #209 "The "study results" filter retuns the same trials for "all" and "trials without results" and isn't persistent across page reloads"
If you go to http://explorer.opentrials.net/search?has_published_results=true, note that the `Study results` select option is "All", and not "Trials with published results" as expected. The issue here is that Joi is converting `has_published_results=true` to a boolean, and we're checking for it as a string in `views/partials/search-form-fields.html`

[2016-06-08 05:41] pwalsh opened #210 "Processor for Epistemonikos data"
# Description

Once we have systematic reviews from Epistemonikos in the warehouse #211, we need to process it to match data onto trials, adjust database schemas as required, and push data forward to the API database.
# Tasks
- [ ] read `processors` overview - https://github.com/opentrials/processors/blob/master/docs/overview.md
- [ ] read contributing giude - https://github.com/opentrials/process

[2016-06-08 05:43] pwalsh opened #211 "Collector for Epistemonikos data"
# Description

Epistemonikos ( http://www.epistemonikos.org/ ) has systematic reviews for a range of clinical trials. These can be extracted, cached in our warehouse (what a collector does), and then later processed to match on trials and prepare for exposing via the public Database/API (what a processor does: has a distinct task https://github.com/opentrials/opentrials/issues/210).
## Existing co

[2016-06-08 05:43] pwalsh commented on #211
@vitorbaptista please edit the issue above with any changes needed.

[2016-06-08 05:47] pwalsh commented on #210
@vitorbaptista please check if anything else is required above. It is adapted from the similar issue written by @roll for HRA.

@roll I want to ensure that if we ID new trials from the Epistimonikos source that we write them as new trial records (same as related issue on PubMed). Anything we should add to task list to make that fact clearer?

[2016-06-08 06:40] roll commented on #208
matched by scientific title

[2016-06-08 06:50] roll commented on #210
@pwalsh
added a few tasks

@vitorbaptista
What we should write for only-id trials? For now we have some not-null values like `public_title`.

[2016-06-08 06:51] pwalsh commented on #208
hmm. we'll have to look into the scientific title matching then at some stage "soon" I guess, as it is a guess and can definitely be wrong.

[2016-06-08 06:52] pwalsh commented on #210
@roll thanks.

[2016-06-08 08:03] roll commented on #204
@vitorbaptista
let me check situation for all sources

[2016-06-08 14:30] vitorbaptista commented on #210
@roll Considering that the `public_title` is the only field which might give us problems (so far), I'd say we use the identifier as a temporary title

[2016-06-08 14:32] vitorbaptista opened #212 "Add disclaimer that the site is in beta"
We should warn users that, even though the site is functional, don't rely on our data yet (i.e. check the sources).

[2016-06-08 14:34] vitorbaptista commented on #204
Same issue with publications: http://explorer.opentrials.net/publications/767ed08c-05b9-4d72-8c09-ae5339cd765b

[2016-06-08 16:53] benmeg commented on #208
Chatted to @vitorbaptista about this. It looks like it's the 'same' trial. Looking at the history, it appears to have been:

- [Registered in 2014, then withdrawn in 2015](https://clinicaltrials.gov/archive/NCT02240602) - current status shown in red is: ["This study has been withdrawn prior to enrollment."](https://clinicaltrials.gov/ct2/show/record/NCT02240602).
- [Re-registered in 2016](https://

[2016-06-09 08:14] roll commented on #177
MERGED
#200

[2016-06-09 08:14] #177 closed

[2016-06-09 08:17] roll commented on #163
MERGED
#200

[2016-06-09 08:17] #163 closed

[2016-06-09 08:40] roll commented on #204
[code]

[2016-06-09 08:45] roll commented on #204
I'll handle `pubmed` thing here - https://github.com/opentrials/opentrials/issues/200

For other things I see two segments:
- not sure human-readable url could be found:
  - `fdadl`
  - `hra`
  - `icdcm`
  - `icdpcs`
- could be fixed on collectors or processors layer:
  - `nct` (remove &resultsxml=true)
  - `ictrp` (probably)

[2016-06-09 11:16] vitorbaptista commented on #209
If `has_published_results == false`, we weren't adding any filters, so we would
get all trials (including those with published results). This is because we
relied on simply testing for truthyness, and not for the actual true/false
value. As `undefined` is falsy in JavaScript, there was no difference between
setting `has_published_results = false` and not setting `has_published_results`
at all.

[2016-06-09 11:17] #203 closed

[2016-06-09 11:31] vitorbaptista commented on #209
Fixed

[2016-06-09 11:31] #209 closed

[2016-06-09 12:17] roll commented on #211
High-level testing example - https://github.com/opentrials/collectors/blob/master/tests/test_hra.py#L17-L20

[2016-06-09 15:08] #198 closed

[2016-06-09 15:15] vitorbaptista opened #216 "Add breadcrumbs to the pages"
We already have the designs for it in our mockups:

http://opentrials.github.io/mockups/search-results.html
![search results page breadcrumbs](https://cloud.githubusercontent.com/assets/76945/16914013/c65d1466-4ce6-11e6-8622-9df1ac122f01.png)

http://opentrials.github.io/mockups/trial.html
![trial details page breadcrumbs](https://cloud.githubusercontent.com/assets/76945/16913998/a3eb97ae-4ce6-11e

[2016-06-09 15:20] vitorbaptista opened #217 "There's no indication that the user contribute with just a link, not necessarily uploading data"
We should make it clearer that the user can contribute a file and/or a link.

[2016-06-10 11:42] roll commented on #200
I think I could get a count even before collection:
- controlled clinical trial = 498611
- randomized controlled trial = 413029 (all are included to controlled clinical trials)

[2016-06-10 13:00] roll commented on #200
@pwalsh
@vitorbaptista
Are we interested here on this stage on some probabilistic methods (like BenG was talking about)? If yes - I could add to `trials_publications` something like `match_type` and `probability` fields.

[2016-06-10 14:42] vitorbaptista commented on #200
@roll Unless there're some easy wins, I wouldn't bother with it before we have a way to test and validate the matching algorithms.

[2016-06-15 10:04] roll opened #221 "How to handle discrepancies for EU Clinical Trials Register?"
EUCTR is only one register with non-standard trials-record structure:
https://www.clinicaltrialsregister.eu/ctr-search/search?query=

As we can see one trial could have place in different countries. According to WHO ICTRP approach we collect every country subtrial as a record. But after processing this records have merged by `scientific_title` following discrepancies (different dates, number of pa

[2016-06-15 12:30] roll opened #222 "Problem in pubmed parser with abstract"
[code]

affecting around 2-3 records from 1000

[2016-06-15 15:54] benmeg opened #223 "Application crashed when contributing data"
I clicked on the link to contribute data to a trial and got an application error - example link:

http://explorer.opentrials.net/contribute-data?trial_id=4736e40d-7e7d-4094-87bb-a1b7203628ed&redirectTo=/trials/4736e40d-7e7d-4094-87bb-a1b7203628ed

[2016-06-16 08:50] roll opened #224 "Problem in hra parser with defered data"
1-2 cases per 1000

[code]

[2016-06-16 08:52] roll opened #225 "Problem in hra processor with isrctn id"
1-2 cases per 100

[code]

[2016-06-16 08:55] roll opened #226 "records.primary_source_id field name is not correct"
Initially raised in Gitter to do not forget.

`records` have only one `source_id` (not primary or secondary) like other simple entities like `interventions`, `conditions` etc.

Also `records` have `record.source_data` and `records.source_url` so having `records.primary_source_id` instead of `records.source_id` is confusing.

It looks like it was renamed by mistake here - https://github.com/opentri

[2016-06-16 15:06] vitorbaptista commented on #223
The problem was that some migrations weren't ran. Fixed.

[2016-06-16 15:06] #223 closed

[2016-06-16 15:34] benmeg opened #227 "Forward slash / in search box gives '502 Bad Gateway' error"
I was searching for:

Hyaluronan and N-ERC/Mesothelin as Key Biomarkers in a Specific Two-Step Model to Predict Pleural Malignant Mesothelioma

http://explorer.opentrials.net/search?q=Hyaluronan+and+N-ERC%2FMesothelin+as+Key+Biomarkers+in+a+Specific+Two-Step+Model+to+Predict+Pleural+Malignant+Mesothelioma&sample_size_start=&sample_size_end=&gender=&has_published_results=&has_discrepancies=&registr

[2016-06-16 15:35] vitorbaptista opened #228 "Extract systematic reviews from SRDR"
http://srdr.ahrq.gov/

[2016-06-16 18:42] benmeg opened #229 "Link to source of HRA data behind username/password"
e.g. http://explorer.opentrials.net/trials/3e13c83d-fda7-4100-bf36-6204700c2db5/records/c94231f0-9ac2-48ae-80bb-02cbee3e3cca

Should we link if the source can't be accessed?

[2016-06-17 06:16] roll commented on #229
MERGED
https://github.com/opentrials/opentrials/issues/204

[2016-06-17 06:16] #229 closed

[2016-06-17 06:17] roll commented on #195
MERGED
https://github.com/opentrials/opentrials/issues/204

[2016-06-17 06:17] #195 closed

[2016-06-17 08:11] roll commented on #204
@vitorbaptista
I thought it's for current for EL (based on BenG words).
I could take care of it.

[2016-06-17 13:00] vitorbaptista commented on #204
@roll Yes, it would be good to have for EL :+1:

[2016-06-17 13:36] vitorbaptista commented on #206
The issue is that the strings have different whitespaces. We should probably compare strings ignoring case, whitespace and maybe punctuation.

[2016-06-17 14:28] vitorbaptista commented on #227
This happens because we're using ElasticSearch query string on searching. This isn't recommended because there can be syntax errors. We might change to a [simple query string](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html) that would still allow some advanced search features (like `AND`, `OR`, etc), while avoiding the possibility of syntax

[2016-06-17 14:29] vitorbaptista commented on #226
It was renamed to keep consistency with the `trials` table, but I see how it can be confusing. In your opinion, we should rename everything to `source_id`?

[2016-06-17 15:13] vitorbaptista commented on #194
Done

[2016-06-17 15:13] #194 closed

[2016-06-17 15:16] vitorbaptista opened #230 "Allow users searching for trials with discrepancies in specific fields"
UI suggestion by @roll

![Filter discrepancies on specific fields](https://cloud.githubusercontent.com/assets/76945/16155300/9fca5bea-34a6-11e6-8f85-9c3f9a321787.png)

Note that the user should be able to search for:
- All trials;
- Trials without discrepancies;
- Trials with any discrepancies;
- Trials with discrepancies in a specific field.

[2016-06-17 15:16] vitorbaptista commented on #119
Apart from searching for discrepancies in specific fields (issue #230), this is done.

[2016-06-17 15:17] vitorbaptista opened #231 "Add filter for trials with/without publications"
Similar to the filter for discrepancies

[2016-06-18 06:58] roll commented on #226
Yes, it will be better. In `processors` `source_id/primary_source_id` is not part of extracted fields with the same for `trial and record` - https://github.com/opentrials/processors/blob/master/processors/base/writers/trial.py#L75-L98

[2016-06-19 08:36] roll commented on #206
I use this function in processors - https://github.com/opentrials/processors/blob/master/processors/base/helpers.py#L27-L33

[2016-06-19 08:37] roll commented on #227
Could be this forward slash escaped before ES?

[2016-06-20 11:19] vitorbaptista commented on #227
@roll Good point. I've written about the drawbacks on escaping the query strings at https://github.com/opentrials/opentrials/pull/233. Please, take a look.

[2016-06-20 11:45] #231 closed

[2016-06-20 12:10] #227 closed

[2016-06-20 17:30] vitorbaptista opened #234 "Discrepancies we're interested in?"
For example, the trial http://explorer.opentrials.net/trials/6d8b70f3-f56f-4901-8d92-f5cd51f4af82 has a discrepancy in the public title (see http://explorer.opentrials.net/trials/6d8b70f3-f56f-4901-8d92-f5cd51f4af82/discrepancies). However, there's no icon for it.

The issue is that we're adding the icons in the `trials-details.html` view, but the title is set by the layout with data from a contex

[2016-06-20 17:32] vitorbaptista commented on #204
HRA is worse, because the link points to a page that requires password (e.g. http://explorer.opentrials.net/trials/6d8b70f3-f56f-4901-8d92-f5cd51f4af82/records/4d7e374e-f72e-4075-8335-17fd4b3b8b25)

[2016-06-20 17:39] #206 closed

[2016-06-20 17:43] roll commented on #204
@vitorbaptista
I have all problematic sources as tasks in first post

[2016-06-21 14:44] vitorbaptista opened #235 "Can't find trial by searching for id M05-775"
We can find it on ClinicalTrials.gov (https://clinicaltrials.gov/ct2/results?term=M05-775), but can't on OpenTrials (http://explorer.opentrials.net/search?q=M05-775). This trial exists on OpenTrials (http://explorer.opentrials.net/trials/d4487ef3-09bb-40c4-afed-46afbab310a6), we just don't have the `M05-775` study id.

[2016-06-21 16:38] vitorbaptista opened #236 "List items in about page don't display dots"
This is what we have right now:

![About page list items without dots or marging](https://cloud.githubusercontent.com/assets/76945/16238018/cd82abfe-37d6-11e6-90a9-93d3ed019770.png)

It's hard to differentiate the list items as is, given that they have no margin or dots before them.

[2016-06-22 07:26] roll commented on #235
https://clinicaltrials.gov/ct2/show/NCT00603993?term=M05-775&rank=1
ID: `NCT00603993`
http://explorer.opentrials.net/trials/d4487ef3-09bb-40c4-afed-46afbab310a6
http://explorer.opentrials.net/trials/d4487ef3-09bb-40c4-afed-46afbab310a6/records/d12eefdd-6e8c-4afe-95db-aa09889c7eb2
Here we see
`Org study id: M05-775`

But what's `org_study_id`? It's not register identifier.

[2016-06-22 10:09] roll commented on #235
De-assigned myself because it's backlog to do not mess with current scope.

[2016-06-22 11:18] roll commented on #115
For pubmed it's implemented as `pubmed_linker`. For `hra` will be the same.

[2016-06-22 14:22] benmeg opened #237 "Lay summary truncated?"
Here's an example trial:

http://explorer.opentrials.net/trials/801bfd8b-2410-4fca-b3ae-3832aee60d69

The 'Lay summary' we're listing is:

"Randomized controlled non-inferiority trial comparing therapist-guided Internet-based Cognitive behavioral therapy (ICBT), self-guided ICBT, and individual face-to-.face (f2f) CBT for Obsessive-Compulsive Disorder (OCD) in adults."

Looking at associated sourc

[2016-06-22 14:55] roll opened #238 "Add records.source_url_type like field"
Our `source_url` could be human-readable url or API endpoint or link to secure space. So we need some instruction to frontend added on processors level how to show it to the user.

[2016-06-22 14:56] roll commented on #204
Part of issue (fdadl etc) has been moved to https://github.com/opentrials/opentrials/issues/204

[2016-06-22 14:58] roll commented on #237
Thanks, we will check.

[2016-06-22 15:30] roll commented on #200
DONE

[2016-06-22 15:30] #200 closed

[2016-06-23 03:38] roll opened #240 "Improved deduplication system"
# Description

Based on current experience of data deduplication I could suggest some implementation improvements and strategies to use. I'll write it as tasks for the reading convenience but it's of course for a discussion (cc @vitorbaptista @pwalsh @benmeg).

Ideas highlights:
- use only identifiers for automatic matching
- improve querying duplicates implementation (facts system)
- use curators

[2016-06-23 03:46] roll opened #241 "Fix HRA-EUCTR mathing"
Because of different type of euctr identifiers (we use with country code, HRA use a general identifier) we can't match around 6000 research summaries.

Will be resolved after implementing the initial part of https://github.com/opentrials/opentrials/issues/240

[2016-06-23 03:49] roll opened #242 "Create research_summary entity"
HRA data now goes to publication but it's probably should be moved to `research_summary` entity.

[2016-06-23 06:19] pwalsh commented on #240
just to say all looks solid and well thought out, but passing on so @vitorbaptista can decide on way forward here.

[2016-06-23 08:21] roll opened #243 "How to handle not existent identifiers from pubmed?"
For now if trial id from pubmed is not matched we create a stub trial in `trials` table. So if this will be useful (may be we just need to export this identifiers without stub trial creation) we need also to add stub records for this stub trials (esp. for https://github.com/opentrials/opentrials/issues/240).

[2016-06-23 09:25] vitorbaptista commented on #240
Sounds great, @roll. Let's talk about it during the summit.

[2016-06-23 09:29] #212 closed

[2016-06-23 09:30] vitorbaptista opened #244 "Can a HRA review summary talk about multiple trials?"
See https://github.com/opentrials/processors/pull/32#issuecomment-227755986 for more info

[2016-06-23 09:35] vitorbaptista commented on #243
At first I thought we should create a record in these cases, as it's no different from getting a trial from another of our sources. However, if we have records from pubmed for trials we didn't know about, shouldn't we have them for trials we know about as well? This would mean adding PubMed as a source for all trials, which is useless considering it only has the trial identifier.

Unless this is n

[2016-06-23 09:41] vitorbaptista commented on #238
Instead of a `source_url_type`, I'd think a `source_human_url` or something like that would be better, so we can save both URLs (for a XML and for a human-readable page). Then the logic in the UI would be `records.source_human_url || records.source_url`.

[2016-06-23 10:33] roll commented on #204
FIXED
http://explorer.opentrials.net/trials/ab82187c-905c-474c-92ad-22f7c84a4f1c/records/4626e073-2ed2-42d7-9a84-08c6ae1a7ba8

[2016-06-23 10:33] #204 closed

[2016-06-23 10:33] roll commented on #244
Or broader can any review summary talk about multiple trials?

[2016-06-23 14:32] vitorbaptista opened #245 "Trial NCT01441414 wasn't deduplicated correctly"
It appears both as http://explorer.opentrials.net/trials/32cefcc9-8367-4c2d-8533-63fe511b24d6 and http://explorer.opentrials.net/trials/ffd2ae16-7f70-4ada-abe2-c5b39bdeba9f

[2016-06-23 18:11] vitorbaptista opened #246 "NCT00598182 and NCT00758160 are treated as the same trial"
See http://explorer.opentrials.net/trials/8acd7593-8a47-4236-8351-880b401873ef, one of the sources point to NCT00598182 and the other points to NCT00758160

It appears both trials are related, but they don't seem to be the same.

[2016-06-23 18:16] vitorbaptista opened #247 "Some identifiers from EUCTR are wrong"
For example, http://explorer.opentrials.net/trials/0aebad21-70e9-4b91-b2a8-9fc81a5fd253. Its primary identifier is EUCTR2015-005843-15**-3rd**, however it should be EUCTR2015-005843-15. The `-3rd` appears to come from the source URL (https://www.clinicaltrialsregister.eu/ctr-search/trial/2015-005843-15/3rd)

[2016-06-23 18:27] vitorbaptista commented on #247
The same problem appers with country codes like `EUCTR2008-005767-34-FR`. The identifier shouldn't have `-FR` (as seen in the EudraCT number in https://www.clinicaltrialsregister.eu/ctr-search/trial/2008-005767-34/FR)

[2016-06-23 19:15] vitorbaptista opened #248 "Trial has sponsor information but we're not displaying it"
http://explorer.opentrials.net/trials/e02fbb1d-d732-43f7-8efe-a13ec6f16bc0

If you go into the NCT source at http://explorer.opentrials.net/trials/e02fbb1d-d732-43f7-8efe-a13ec6f16bc0/records/4e7e317e-a1bb-4616-a32f-9aa569287cbd, you'll see that the sponsor is Sanofi Pasteur, but we're not displaying it. It also has secondary ids that we're not grabbing.

[2016-06-24 09:01] roll commented on #247
All our euctr identifiers are like `EUCTR2008-005767-34-FR`.
It's how WHO ICTRP handle it. Because for different countries it's different trial instances (dates, number of participants etc).

So it's more deep problem (or may be not a problem). We alredy have a discrepancy issue for it - EUCTR2008-005767-34-FR

[2016-07-04 07:21] roll opened #249 "Advanced search button is not visible"
http://explorer.opentrials.net/

![ot](https://cloud.githubusercontent.com/assets/557395/16553398/204b9950-41d1-11e6-80ef-d517073cf8fa.png)

[2016-07-04 07:44] roll commented on #249
@vitorbaptista
please take a look

[2016-07-05 12:25] vitorbaptista commented on #249
This isn't a bug, but some last minutes changes for a presentation. Closed.

[2016-07-05 12:25] #249 closed

[2016-07-06 17:21] vitorbaptista opened #250 "Normalize geographical location names"
OpenTrials allows the user to search for trials in a specific geographical location (e.g. UK, Brazil, ...). However, the location names aren't normalized. This means that searching for "UK" or searching for "United Kingdom" might return different results. This also creates issues when we're trying to get statistics around trials per geographical location.

To solve this, we need to normalize the n

[2016-07-07 10:12] vitorbaptista opened #251 "Style numbers in explorer"
For example, instead of 331504, show 331,504. To fix this issue, simply create a Nunjucks filter in https://github.com/opentrials/opentrials/tree/master/views/filters and use it everywhere we display numbers. For a similar example, check the https://github.com/opentrials/opentrials/blob/master/views/filters/format-date.js filter.

Use UK's number pattern (i.e. 1234.56 should be displayed as 1,234.

[2016-07-07 12:47] roll opened #252 "Advanced querying documentation"
I'm not sure but it looks like we don't have readme (preferably on the site) for doing advanced queries on Explorer.

[2016-07-07 13:19] roll commented on #250
@vitorbaptista why to do not deal with synonyms?

[2016-07-07 14:01] vitorbaptista commented on #250
@roll Just to keep this issue (somewhat) small. We'll have to deal with synonyms later (specially for things like drug names), but we can create another issue for that.

[2016-07-07 14:26] vitorbaptista commented on #252
For reference, the OpenFDA project also offers queries using ElasticSearch' query string. They have their documentation at https://open.fda.gov/api/

I've disabled the ElasticSearch query string in https://github.com/opentrials/opentrials/pull/233 in the Explorer-side (i.e. you can still use query strings directly through the API). This was to avoid users being able to do invalid queries (e.g. htt

[2016-07-07 14:27] vitorbaptista opened #253 "Add error pages"
Both for 4xx and 5xx HTTP error codes. Right now, we return a very unhelpful JSON response (e.g. explorer.opentrials.net/foobar)

[2016-07-07 17:12] vitorbaptista opened #254 "Display trials documents"
In our [mockups](http://opentrials.github.io/mockups/trial.html), we have a section for data:

![Data section in Trial details page](https://cloud.githubusercontent.com/assets/76945/16660607/059f9244-4467-11e6-8105-9d1d16ac5cb4.png)

Most of the data are trials' documents, but some are links (e.g. `ClinicalTrials.gov results`). We need to expose these documents through the API and add their UI.

#

[2016-07-07 17:17] vitorbaptista commented on #254
@roll Does the above makes sense to you?

[2016-07-08 08:52] TertiumQuid commented on #250
Hi Vitor,

Just picking this up from email; for country locations the myTomorrows team just followed ISO 3166-1 and had no issues at all (except for a few edge cases, e.g. parsing countries in a comma-separated list which also had commas in the name). We don't allow free-text country searches so normalizing a location query is by definition not a problem for us.

Extracting country names from text

[2016-07-08 10:09] vitorbaptista commented on #250
@TertiumQuid thanks for the hints. How you handled corner cases like http://apps.who.int/trialsearch/Trial3.aspx?trialid=JPRN-UMIN000009528 (region defined as `Asia(except Japan)`) or http://apps.who.int/trialsearch/Trial3.aspx?trialid=JPRN-JapicCTI-121953 (region defined as `In about 30 countries around the world`)? I imagine in a case by case basis, right?

[2016-07-08 14:47] vitorbaptista commented on #253
Duplicate of #93

[2016-07-08 14:47] #253 closed

[2016-07-09 08:42] roll commented on #252
I mean for now may be it could be short doc in docs or readme mostly for people who will be working on data stuff for upcoming few month.

[2016-07-09 08:46] roll commented on #254
Enum type and category (or could be m2m table if needed) and no new endpoint seems the best option for me also.

[2016-07-09 08:52] roll commented on #250
I suppose logging successful normalisations will lead to a major noise even for debug log. But failed ones will be very useful to see in PaperTrails. Then we could hard-code map tables for unknown ones.

[2016-07-09 09:16] roll commented on #250
Related datapackage - https://github.com/datasets/country-codes/blob/master/data/country-codes.csv

[2016-07-09 12:43] Iararibeiro commented on #250
I agree with @roll, the corner cases are more related to don't have information/ or have vague information, than identify the country in the text.
Existing some ways of dealing with that in my opinion and hard-code map table for that work, one suggestion to deal with that is using additional information  saying that its a single-country information or a region information.

[2016-07-11 11:39] nightsh commented on #240
@vitorbaptista @roll have you reached any conclusion with this?

[2016-07-11 11:58] #251 closed

[2016-07-11 12:02] vitorbaptista opened #257 "Add npm-shinkwrap"
We need it both on the API and Explorer side to make sure our deployments are reproducible (e.g. https://github.com/opentrials/opentrials/pull/256 was caused because a change in one of our dependencies broke our build)

[2016-07-11 12:34] #257 closed

[2016-07-11 15:01] vitorbaptista commented on #240
@nightsh We weren't able to talk about it yet :/

[2016-07-12 10:31] nightsh commented on #93
As I cannot assign it to myself, I'll comment here to let everyone know I'm on it now, will be back with either some questions or a PR ;)

[2016-07-12 12:01] vitorbaptista commented on #64
Fixed by https://github.com/opentrials/api/pull/64

[2016-07-12 12:01] #64 closed

[2016-07-12 17:19] jessflem commented on #244
From my understanding, a review summary is submitted with an individual registration and as such each HRA review summary should only be related to one trial. Each trial may have review summaries submitted on numerous registries and these may not be identical (although they could be). But on any individual registry, a review summary should only relate to one trial. I will call HRA tomorrow to confi

[2016-07-12 18:10] vitorbaptista commented on #100
I was able to enable Heroku's SSL plugins, so this isn't blocked anymore. We just need to configure the certificates and enable it.

[2016-07-12 18:17] vitorbaptista opened #260 "Add contributed data to our database"
# Goal

We had a contribution of ~100 CSRs and some other documents. We need to get them all, upload individually to our S3 instance, and create the related entry in the `documents` table in the API database.

We should also document this process, as we'll be doing it more in the future.

This is blocked on #254

# Analysis

This documents are stored on s3 with link in `exporerdb`. Documents are i

[2016-07-13 09:30] jessflem commented on #244
I've not managed to get through to HRA but I've spoken with a few people my end and everyone is happy that each individual trial has its own HRA research summary, and each HRA research summary only refers to one trial.

[2016-07-13 09:54] vitorbaptista commented on #244
Thanks @jessflem. What about research summaries at large (not only HRA ones). Do you know of any that cites multiple trials?

[2016-07-13 11:19] vitorbaptista commented on #254
I started doing what I described in https://github.com/opentrials/opentrials/issues/254#issue-164360977, but it wasn't working well. Given that the data contributions are part of the Explorer (and not the API), it felt odd to add the document categories and what documents we'd want for each trial on the API side.

I ended up moving it to the Explorer side, keeping the API responsible just to retur

[2016-07-13 14:14] roll commented on #254
Couldn't be the problem this design if we will be downloading documents via collectors? Answering this I could say - `processors` could write to `explorerdb` id needed. But WDYT

[2016-07-13 14:38] roll commented on #254
@vitorbaptista about `documents` table - do we have some mechanism to do not write duplicates to it? In `locations` table it's unique name in `persons` name+trial_id etc.

But how we will respond on adding the same document a few times? We could calculate some hash-sum for example.

[2016-07-14 15:35] vitorbaptista opened #263 "Extract drugs' "Labels and Approval History" from FDA"
1. For each drug initial in http://www.accessdata.fda.gov/scripts/cder/drugsatfda/index.cfm
![image](https://cloud.githubusercontent.com/assets/76945/16844401/eb3c8508-49dc-11e6-9c5a-4a0b72e53520.png)

2. For each drug (e.g. "Effexor XR")
![image](https://cloud.githubusercontent.com/assets/76945/16844437/129eb45e-49dd-11e6-9398-c71529fe57ce.png)

3. Look for links named "Approval History, Letters,

[2016-07-14 20:28] Iararibeiro commented on #250
I gonna add some information here just for future reference about the libraries suggested in the issue description.

- [geograpy2](https://github.com/Corollarium/geograpy2) = this library is not validate to download with pip and still brokes when use with npm, so you can download the project on github and copy the paste for the source. This package is cool because they use fuzzy to search.
- [geot

[2016-07-15 09:44] roll commented on #263
@vitorbaptista
Great work on documenting the analysis process :+1:

[2016-07-18 10:50] vitorbaptista commented on #254
@roll Good point about the uniqueness. I've set the pair `["trial_id", "url"]` to be unique, as I guess there might be a document which references multiple trials. We have to remember to canonicalize the documents URLs when adding them, so we know that `http://example.org/foo?b=10&a=5` and `http://example.org/foo?a=5&b=10` are the same URL. Scrapy has a method to do it at https://github.com/scrapy

[2016-07-18 11:00] #263 closed

[2016-07-18 13:41] vitorbaptista opened #264 "Link the actual Drug Approval Packages (DAPs) to the Indications they treat"
A single drug can have multiple DAPs and multiple indications across time. My idea was to extract a drug's indications through its label, because there's a OpenFDA API endpoint to get this information (even though it's almost free text). However, from the labels, we'll know all indications a drug is approved to, but not which specific DAP talks about each indication. To get this information, we'll

[2016-07-18 15:48] vitorbaptista commented on #254
@roll Duh! I was looking for your comment at https://github.com/opentrials/opentrials/issues/254#issuecomment-232368193 but were looking in the wrong place (the actual pull requests). As I couldn't find it, I've merged the code. Could you explain it a bit more? I'm happy to send a new pull request with fixes if needed.

[2016-07-19 09:25] nightsh commented on #216
I looked at some libraries, aiming for a mix of knowledge on what others did and how they did it. Nothing deeply satisfying, so I proceeded with looking into the request and its friends' contents.

Following my dissection of hapi's request / response structure, I found that I can use directly its properties, containing the path, route params and query string. Here is a mix of `request.path`, `requ

[2016-07-19 13:59] roll commented on #254
I suppose I've just got you wrong at first place

[2016-07-19 14:23] vitorbaptista commented on #254
Cool, I'm closing this then :beers:

[2016-07-19 14:23] #254 closed

[2016-07-19 15:08] vitorbaptista commented on #216
@nightsh What about a simply hardcoding the breadcrumbs? The pages we have don't have a deep hierarchy between them. Out of the top of my mind, I can think of:

We shouldn't change the page layout too much depending on which page you're in, which means every page should have a breadcrumb, even those where a breadcrumb is somewhat useless (e.g. About page, search page before a query was made, ...)

[2016-07-19 15:34] vitorbaptista opened #265 "What documents are contained in the "basic set" of documents we want for a trial?"
In our mockups at http://opentrials.github.io/mockups/trial.html we have:
![list of a trial's documents](https://cloud.githubusercontent.com/assets/76945/16955821/fb151946-4dcd-11e6-9f5d-f3f1dad88ea1.png)

There also appear to be a few more cited in figure 1 of the OpenTrials' paper at https://trialsjournal.biomedcentral.com/articles/10.1186/s13063-016-1290-8, but I'm not sure if that's the comple

[2016-07-19 15:49] nightsh commented on #216
Doing it tonight, I will produce a combination of your approach and mine ;)

[2016-07-19 16:05] vitorbaptista commented on #211
For whoever works on this: there's some WIP code in the collectors' [epistemonikos branch](https://github.com/opentrials/collectors/tree/epistemonikos). Feel free to ignore it if it doesn't help you.

[2016-07-19 16:08] vitorbaptista commented on #234
Taking a step back: are discrepancies on a trial's title interesting at all?

[2016-07-19 16:11] vitorbaptista commented on #139
Fixed :+1:

[2016-07-19 16:11] #139 closed

[2016-07-19 16:13] vitorbaptista commented on #210
Blocked because of #211

[2016-07-19 17:33] vitorbaptista opened #266 "Should we use some data pipeline framework in our processors?"
This issue is mostly to discuss our alternatives.

We're starting to create a few tasks in our processors' pipeline that will be used by many processors (e.g. downloading PDFs and pushing to S3 for the FDA data, https://github.com/opentrials/opentrials/issues/250). We can save them in a "helpers" folder for reusing, but looking forward it seems we would benefit by using a data pipeline framework.

[2016-07-20 09:44] vitorbaptista opened #267 "ClinicalTrials.gov's recruitment status as "Active, not recruiting" is interpreted as "other""
# Problem

For example, check http://explorer.opentrials.net/trials/0000e30c-0b96-4fcc-81c3-2bf07f402a9b. There's a discrepancy on `recruitment_status` from ClinicalTrials.gov and WHO ICTRP, but if you check the sources, there's no discrepancy.

I'm not sure if that's because we haven't updated our database or some bug in the data cleaning code.

# Analysis

Problem occurs because:
- we use differ

[2016-07-20 12:44] sarahcebm commented on #265
[The Guideline for Good Clinical Practice ](http://www.ich.org/fileadmin/Public_Web_Site/ICH_Products/Guidelines/Efficacy/E6/E6_R1_Guideline.pdf)contains a list of essential documents for the conduct of a clinical trial (Section 8).

The list is quite lengthy and I realise that not all documents will count as a 'basic set' for our purposes. Beyond what is captured in the paper some of the key docu

[2016-07-20 15:21] vitorbaptista commented on #265
@sarahcebm Thanks for the quick reply! I have questions about a couple documents.

I imagine that this is only relevant to the trials that had serious adverse events? Or is it something we'd like for every trial?

Is it about general agreements or contracts, or something specific?

[2016-07-20 17:23] nightsh commented on #216
It's hardcoded behaviour in the breadcrumbs plugin, but dynamic stuff that gets injected and shown inside templates. I say it's a decent compromise, thus opening up the discussion / feedback loop on the implementation and moving over to #268.

[2016-07-20 19:14] vitorbaptista commented on #266
Another interesting article: [How Agari Uses Airbnb's Airflow As A Smarter Cron](http://highscalability.com/blog/2015/9/3/how-agari-uses-airbnbs-airflow-as-a-smarter-cron.html)

[2016-07-21 08:07] vitorbaptista commented on #99
Fixed

[2016-07-21 08:07] #99 closed

[2016-07-21 08:08] vitorbaptista commented on #93
Fixed in #261

[2016-07-21 08:08] #93 closed

[2016-07-21 08:27] vitorbaptista opened #269 "Processor for FDA's labels and approval history"
We collected this data on https://github.com/opentrials/opentrials/issues/263, now we need to:

1. Merge multiple-part PDFs into a single file;
2. Push the PDFs to S3;
3. Push the PDFs to DocumentCloud;
4. Save the (so far incomplete) document to the API database, including the links to S3 and DocumentCloud.

In this step, the document won't have its contents extracted yet (that's why we're pushin

[2016-07-21 12:04] jessflem opened #270 "trial appears to be linked to multiple records without matching name or ID"
http://explorer.opentrials.net/trials/869d45c8-66b0-4720-8507-270142d6ca84/discrepancies

This trial appears to be linked to numerous records that don't share its name or any ID numbers.

It would be super helpful if we could trace why a record was tagged as a particular trial - thanks!

[2016-07-21 12:49] sarahcebm commented on #265
@vitorbaptista

**Regulatory**:  This would apply to trials of devices and medicinal products. All trials in these categories should have an associated log of (serious) adverse events, both expected and unexpected, that occur during the conduct of the study. It is a requirement of ethics approval that they are reported back to the ethics committee. Usually they need to be aggregated, as individual

[2016-07-22 08:59] roll commented on #234
Having our ideal model we could ask BenG:
- what fields from the ideal data model are interesting for discrepancies
- what fields outside the ideal data model are interesting for discrepancies

[2016-07-22 09:09] roll commented on #267
@vitorbaptista
Based on our enum for the status:
[code]
it's really other.

[2016-07-22 10:22] vitorbaptista commented on #234
@opentrials/research could you answer @roll's questions?

[2016-07-22 10:23] roll commented on #270
All this records have something in common (first 2 matched by scientific_title, next by id etc) - I've created redash query for it.

But it looks like here we have false positive matchings based on scientific title.

https://github.com/opentrials/opentrials/issues/240

[2016-07-22 10:24] vitorbaptista commented on #267
@roll it seems we'll need to add another state. However, regardless of that, the `recruitment_status` is the same on both sources, but on our DB we have one as `other` and the other as `complete`

[2016-07-22 10:33] roll commented on #234
Current trial attributes:

[code]

[2016-07-22 10:37] roll commented on #267
Mappings in `nct` and `ictrp` differs for this source. I suppose if it's OK to merge those mapping to one global one we should do that.

[2016-07-22 11:07] vitorbaptista commented on #267
@roll So this is confirmed as a bug?

[2016-07-22 11:11] roll commented on #267
https://github.com/opentrials/processors/blob/master/processors/ictrp/extractors.py#L57
https://github.com/opentrials/processors/blob/master/processors/nct/extractors.py#L36

[2016-07-22 13:36] vitorbaptista opened #271 "We're extracting drug names like GSK249320 as if they were trial identifiers"
For example, check http://explorer.opentrials.net/trials/0f9644c0-a56c-4a07-98ba-cb651aafe163 and http://explorer.opentrials.net/trials/0720df6b-b734-4b0c-876a-2665d0f1af2b

Those GSKXXXXXX names are drug names (see https://clinicaltrials.gov/ct2/show/NCT01227824), and not trial identifiers

/cc @roll

[2016-07-22 15:06] roll commented on #260
@vitorbaptista
What user interface we're looking here? (put files to dir and run processor etc)

[2016-07-22 15:15] vitorbaptista commented on #260
@roll I'm not sure. I don't think we'll be able to automatize much, as the data might come in any state. I would also prefer not to spend too much time in this task.

The only thing I want is to avoid manually adding the data to our production database, so it'll require a processor (and maybe a collector as well).

[2016-07-22 15:23] vitorbaptista opened #272 "Link to the list of registries on http://opentrials.net/faq/ is broken"
On http://opentrials.net/faq/, you should see:

It links to https://github.com/okfn/opentrials-registers/blob/master/data/registries.csv, which returns a 404 error. That should be changed to https://github.com/opentrials/registers/blob/master/data/registers.csv.

@opentrials/community Could you take a look into this?

[2016-07-23 10:03] roll commented on #266
So few thoughts:

I see there could be a big win in using it as UI/admin for running and scheduling scripts. For now I don't see those dependency management component as a core for us.

There are two types in our case (simplifying) of dependency management:
  - pipeline like in airflow etc (script1 then script2 then script3) etc
  - realtime job queues (script1 produces some data in realtime and s

[2016-07-23 10:48] roll opened #273 "Add note about red/green paperwork/documents buttons?"
http://explorer.opentrials.net/trials/0ede3cbc-7f05-4c36-b700-28010689f999

Before I've read about it in the walkthrough document I had no idea what those red buttons with an arrow mean. May be we need to add some note - esp it's important to say to the user that clicking on red button he could upload a document.

[2016-07-23 14:50] roll commented on #242
@opentrials/research
So here is a question to domain specialists:

As a {User} I want to see data about research summary with following attributes:
- name
- authors
- ???

We need this data to model new entity.

[2016-07-23 14:57] roll commented on #76
related to https://github.com/opentrials/opentrials/issues/240

[2016-07-23 14:58] roll commented on #242
also related to https://github.com/opentrials/opentrials/issues/244

[2016-07-23 15:01] roll commented on #247
So it's ongoing "question" from me (because I already have it - https://github.com/opentrials/opentrials/issues/221). And now not only me.

Really important to check by @opentrials/research team.

[2016-07-23 15:31] roll commented on #250
@vitorbaptista
It's `in development` but no one is assigned. So for cases like this may be responsible person (in this case Vitor) should be assigned.

[2016-07-23 16:28] roll opened #274 "Make OSF integration"
# Goal

Export data to OSF.

# Analysis

JamDB is a schema-less, immutable database that can optionally enforce a schema and stores provenance. It supports efficient full-text search, filtering by nested keys, and is accessible a REST API.

http://jamdb.readthedocs.io/en/latest/

We need to export our trials data to OSF using their API.

# Development

- [x] read and understand OSF documentation
-

[2016-07-23 16:43] roll commented on #22
@vitorbaptista
It looks like it could be closed.

[2016-07-23 16:57] roll commented on #248
MERGED
https://github.com/opentrials/opentrials/issues/182

[2016-07-23 16:57] #248 closed

[2016-07-23 17:08] roll commented on #246
http://explorer.opentrials.net/trials/8acd7593-8a47-4236-8351-880b401873ef/records/1b0965ef-4350-459c-a55b-24ea57e181f1
http://explorer.opentrials.net/trials/8acd7593-8a47-4236-8351-880b401873ef/records/9ed86839-241c-464b-b1fa-1d852dd08d67

[code]

So also related to https://github.com/opentrials/opentrials/issues/240

[2016-07-25 08:58] benmeg commented on #272
Fixed

[2016-07-25 08:58] #272 closed

[2016-07-25 09:59] vitorbaptista commented on #246
So maybe these are the same trial but made in different dates? @opentrials/research Could you check this?

[2016-07-25 10:42] jessflem commented on #246
they aren't the same trial - NCT00598182 is a follow up to NCT00758160 but they've annoyingly used the same official title for both. from my hunt they haven't published on either yet, but they should definitely be treated as separate trials. this shouldn't be too common, I suspect it was a mistake in the submission of the second trial.

[2016-07-25 10:55] roll commented on #246
@jessflem
could you comment other issue - https://github.com/opentrials/opentrials/issues/240 - in general about matching trials using `scientific_title` (it looks like there are many false positives)

[2016-07-25 13:27] vitorbaptista commented on #271
We do have a GSK registry as a source (http://www.gsk-clinicalstudyregister.com/), but it seems their trial identifiers are like ESS100327, and not GSKXXXXXX.

[2016-07-25 16:24] roll opened #275 "Add opentrials tag to all docker services"
# Overview

Deploying to Docker Cloud we should use `opentrials` node cluster to do not clash with other OKI projects like OpenSpending.

# Analysis

Docker Cloud deployment system provides ability to mark node clusters and services by tags. So we should point on which nodes we'going to deploy our services.

# Development

- [x] do not run docker cloud services before this will be fixed
- [x] add

[2016-07-25 16:26] roll commented on #275
@akariv
could you review this plan?

[2016-07-25 17:06] vitorbaptista opened #276 "We're not displaying a trial's secondary IDs"
For example, http://explorer.opentrials.net/trials/ef2accfa-f0b8-4c5a-a81f-7fd4f3b19f52 has multiple secondary ids (check the sources), but we're just displaying the primary ID. The UI for this is already done (https://github.com/opentrials/opentrials/issues/153), we just need to add the identifiers to the data (http://api.opentrials.net/v1/trials/ef2accfa-f0b8-4c5a-a81f-7fd4f3b19f52).

[2016-07-25 17:18] roll opened #277 "collectors create table on production without proper migration"
# Overview

Current `collectors` design (related to db) bases on 2 principles:
- make everything automated for development (like schema creation/updating etc) [PYTHON_ENV=DEVELOPMENT]
- do no update schema at all at production and use migrations [PYTHON_ENV=PRODUCTION]

But for now if table doesn't exist it will be created in production (fields will not be created as expected).

[2016-07-25 18:20] #275 closed

[2016-07-25 18:59] vitorbaptista commented on #221
From our chat today, we should ignore discrepancies on EU-CTR trials.

[2016-07-25 19:01] vitorbaptista opened #278 "Ignore EUCTR trials when calculating discrepancies"
As per https://github.com/opentrials/opentrials/issues/221, we should ignore records from EUCTR when calculating discrepancies. This means that a trial with all sources from EUCTR won't have any discrepancies, and a trial with sources from EUCTR and other sources will only have discrepancies if those other sources have discrepancies among themselves, ignoring EUCTR completely.

@opentrials/researc

[2016-07-25 19:02] #221 closed

[2016-07-26 05:21] roll commented on #221
MOVED
https://github.com/opentrials/opentrials/issues/278

[2016-07-26 07:38] akariv commented on #275
Looks good to me.

On Mon, Jul 25, 2016 at 9:21 PM Vitor Baptista <notifications@github.com>
wrote:

[2016-07-26 07:50] roll commented on #275
Thanks, Adam!

[2016-07-26 08:21] nightsh opened #279 "Infrastructure for crowdsourcing using PyBossa / crowdcrafting.org"
As discussed in #75 and #76, we want to build support for (some) users to be able to review matched entities from the database.

In order to get there, we need one or more:

* technical solution(s) to support the needed operations (database migrations, 3rd party services/libraries needed, if there's any refactoring involved etc.)
* proof(s) of concept that could demonstrate the idea is applicable

[2016-07-26 08:26] nightsh commented on #279
Currently investigating:

* plain implementation using `hapi`
* a loose integration with [pybossa](http://pybossa.com/) and/or [crowdcrafting](http://crowdcrafting.org/)
  * *loose* here means data exchange format should not be `pybossa`-specific, but as general as it could, in order to be able to easily switch backends later (to another 3rd party or our own)

[2016-07-26 09:27] benmeg commented on #278
Yes

This seems to makes sense, though I'm not sure we explicitly covered this scenario in our chat

[2016-07-26 09:32] roll commented on #278
But `euctr` just can't be a source for getting discrepancies in second scenario because it have multiple values.

[2016-07-27 09:27] roll commented on #260
@vitorbaptista
please take a look - https://github.com/opentrials/processors/blob/fe634e25bb45167edfe921fe0ca78365c2ce05da/docs/processors/contrib.md - and on corresponding PR

[2016-07-27 09:31] roll commented on #260
There are a few questions:
- document on S3 naming
- concrete J&J contribution files without our trial_id like `JNJ-17335630-AAD.pdf`

[2016-07-27 09:56] roll commented on #211
I'll take this card next (for the end of the week) if everyone is OK with it.

[2016-07-27 10:48] vitorbaptista opened #280 "Why we have ~50k trials without registration_date?"
This looks like a possible bug. It's not exclusive to a single registry, as can be seen in:

| PRIMARY_SOURCE_ID | COUNT |
| --- | --- |
| ictrp | 51,098 |
| gsk | 1,420 |
| pubmed | 442 |
| takeda | 409 |
| pfizer | 19 |
| **TOTAL** | **53,388** |

@roll thoughts?

[2016-07-27 11:18] roll commented on #280
@vitorbaptista
Per registries:
- ictrp - has not regular date format so we should improve `collecectors` logic to extract it
- gsk - I suppose it's related to https://github.com/opentrials/opentrials/issues/271
- pubmed - stub trials
- takeda, pfizer - we should check looking like not parsed dates

[2016-07-27 14:30] vitorbaptista opened #281 "Expose license and attribution information via API and UI"
It should be possible to know the license and where the contents of each page come from. We already have the attribution data on the Trials page in the form of the "Sources" list, and in the API, where every Trial's Records have a `source` field pointing to where they come from. We're then missing license information.

@pwalsh Considering that our sources might use custom license (e.g. [EU CTR](ht

[2016-07-27 14:38] vitorbaptista opened #282 "Add "takedown request" page"
This is a simple Google Form. It should be on the footer of the page, with the current URL added as a parameter, so it can be pre-filled in.

For the design, follow [okfn.org](https://okfn.org)'s:

![okfn.org footer](https://cloud.githubusercontent.com/assets/76945/17229026/a506aad2-550d-11e6-8379-fa2c2cf7f8a4.png)

[2016-07-27 14:42] roll commented on #281
some references:
- https://github.com/opentrials/collectors/tree/master/docs/collectors
- https://github.com/opentrials/registers/blob/master/data/registers.csv

[2016-07-27 14:45] vitorbaptista opened #283 "Add functionality to flag errors on OpenTrials"
**As an** OpenTrials user
**I want a** way to warn OpenTrials' creators about an error they've made
**So that** they can fix it and improve the database

This button or link should appear on every page, allowing any user to warn about an error in OpenTrials. It'll link to a Google Form passing the current URL (so we can pre-fill it into one of the text boxes). Add it on the footer, similar to [okf

[2016-07-27 14:48] roll commented on #276
There is more generic question about our secondaries ids (cc @opentrials/research).
We have to types of secondary ids:
- from data source like here - https://clinicaltrials.gov/ct2/show/record/NCT02847065?rank=1 - (see other study id numbers). It could include some ids we don't have idea what is it
- from our database relationships after deduplication - one trial could have many records with diffe

[2016-07-27 14:50] vitorbaptista opened #284 "Investigate what's needed to display the source of each data point on OpenTrials"
For example, if we merge a couple records from different sources to create a normalized Trial, I'd like to know where each data point in that trial comes from (e.g. the title from NCT, number of participants from EU-CTR, etc.). This'll require keeping track of where each Trial's field comes from, exposing it through the API, and displaying on Explorer. For this issue, focus only on what would be n

[2016-07-27 14:50] roll commented on #283
May be some error on a page as a Service solution?

[2016-07-27 14:53] roll commented on #284
OK, I'll check.

Also I suppose we need other issue (or update this) to ask about merging strategies.

[2016-07-27 14:55] vitorbaptista commented on #284
@roll As far as I can see, merging strategies are "parallel" to this task. I mean, they're related, but we don't need to decide or care about them to be able to do this task. Or I'm missing something?

[2016-07-27 14:56] roll commented on #284
@vitorbaptista
You're right. Just let create it and link to this to do not forget.

[2016-07-27 15:31] vitorbaptista opened #285 "Add more metadata to publications"
Add to the publications' page (e.g. [this one](http://explorer.opentrials.net/publications/b7d70a55-1673-4761-ba5d-6b4fb570b33d)):

- [ ] Journal
- [ ] Publication date

And also add a small citation to the publications in the trial details page, like:

![Publication citation](https://cloud.githubusercontent.com/assets/76945/17180531/b726e51e-5414-11e6-9e1f-d95277f1d8e1.png)

@opentrials/research

[2016-07-27 16:06] vitorbaptista opened #286 "Allow sorting the search results"
Currently the search results are sorted by `registration_date`. The user should be able to define which field to sort by. The API should support defining ascending or descending order, but that's not needed for the Explorer.

The UI can be a simple dropdown on the search menu with fields like "Most recent", "Title", etc.. No need to add all fields to this dropdown, just what makes sense to you. It

[2016-07-27 16:14] vitorbaptista opened #287 "Write API documentation"
We have some very crude docs on http://api.opentrials.net/v1/docs/, but we need to improve them a lot.

[2016-07-27 16:15] vitorbaptista opened #288 "Enable ElasticSearch's query strings"
We disabled them on Explorer (https://github.com/opentrials/opentrials/issues/170) because they allow users to do invalid queries (e.g. https://github.com/opentrials/opentrials/issues/227). It's still possible to use them through our API, though, so we could have an "Advanced query mode" or similar (hopefully with a better name) which enables them.

For this feature to be really useful, we need to

[2016-07-27 16:18] vitorbaptista opened #289 "Link to the trial's results"
If a trial has results somewhere, we should link to them. For the UI, check the "Structured data" category in the "Data" section (see http://opentrials.github.io/mockups/trial.html).

To complete this task, you'll need to:
1. Go over each collector or processor, checking which have results information (see https://github.com/opentrials/opentrials/issues/289#issuecomment-235986818 for the current l

[2016-07-27 16:51] vitorbaptista commented on #242
@opentrials/research How should the research summaries be displayed on a trial page? Currently, they're displayed the same way as a publication. Maybe we could simply add some indication that the publication is a research summary, which is a pattern we can follow for systematic reviews as well. For example:

![publications separated by categories](https://cloud.githubusercontent.com/assets/76945/1

[2016-07-27 16:58] vitorbaptista opened #290 ""Found x trials" message isn't working when no trials were found"
For example:

![image](https://cloud.githubusercontent.com/assets/76945/17184369/b09a39f8-5423-11e6-8e0d-5158734c0d35.png)
http://explorer.opentrials.net/search?q=thisshouldnotexistanywhere

We should see "Found 0 trials"

[2016-07-27 17:02] vitorbaptista opened #291 "Where does the "Hello Kitty" intervention comes from?"
We have a few interventions that aren't related to any trial (e.g. http://explorer.opentrials.net/interventions/17124949-6b22-4e21-b0e8-41f229e0dc36). Where do they come from? How can we avoid this from happening in the future?

[2016-07-27 17:04] benmeg opened #292 "Multiple results for same trial"
This appears to be bug which relates both to EU CTR multi-country trials AND (separately?) issues with matching trials by Primary/Secondary IDs.

I was searching for an example of a trial which has translation-based discrepancies in its title and searched for the English part of the title:

http://explorer.opentrials.net/search?q=A+study+comparing+carfilzomib+%28study+drug%29+given+in+combination+

[2016-07-27 17:05] vitorbaptista opened #293 "Searching for "fluoxetine" returns no trials, even though there are trials that use it"
For example, [searching for fluoxetine](http://explorer.opentrials.net/search?q=fluoxetine) returns zero results, but [searching for prozac](http://explorer.opentrials.net/search?q=prozac) (fluoxetine's brand name) returns 45 results. Going through those results, you can see many trials with "fluoxetine" as intervention (e.g. http://explorer.opentrials.net/trials/aa050f22-2f83-4541-bbaa-e0bbf91653

[2016-07-27 17:10] Bengoldacre commented on #234
hi all,

i've asked jess f to chip in here.

there are some discrepancies which are barndoor interesting and important, for example:
- trial status (completed in one register, ongoing in another)

some discreps which where we find them are somewhat interesting for our pointy heads, eg:
- phase (if there are ever discreps on this)

some which are def uninteresting, eg:
- title text, summary text, b

[2016-07-27 17:12] vitorbaptista opened #294 "Rename "published results" to "results""
Published results means they were published in a journal or publication, which might not be the case. They could only be published on a registry, for example.

Remember to rename `has_published_results` in the API to `results` as well

[2016-07-27 17:14] benmeg opened #295 "Trials with no source"
http://explorer.opentrials.net/trials/3eccd5ec-67a3-4428-8556-cf3647790afa
http://explorer.opentrials.net/trials/00111e34-f698-40b5-aac5-9326ed31c9fd
...

[2016-07-27 17:19] vitorbaptista opened #296 "Allow searching inside specific FDA documents"
**As a** user
**I want to** search on only a subset of the FDA document types
**So that I can** filter the results based on what I'm looking for

[2016-07-27 17:20] benmeg commented on #242
Would vote for the [PDF icon](https://wwwimages2.adobe.com/content/dam/acom/en/legal/images/badges/Adobe_PDF_file_icon_32x32.png) to denote Papers and something like the [Cochrane logo](http://www.cochrane.org/sites/default/files/icons/cochrane-icon.png) for Systematic Reviews. No immediate suggestions for Research Summaries.

[2016-07-27 17:27] vitorbaptista commented on #211
@roll I think your time is better spent on other issues. Whenever you finish your current tasks, just pick the next one from the `Ready for Analysis` column on our Waffle board.

[2016-07-27 17:29] vitorbaptista commented on #279
@nightsh Don't bother investigating how to implement this ourselves with `hapi`, but focus on pybossa/crowdcrafting for now. If that doesn't work out we can think about how to do it ourselves :+1:

[2016-07-27 17:50] vitorbaptista commented on #283
@roll Could you explain more what you mean?

[2016-07-27 17:55] vitorbaptista commented on #276
@roll Just to clarify, your first point is simply the secondary IDs that were marked as secondary by the registry. There's not much to be decided here: they're secondary, so display them as such.

But we also have the case where we find that the same trial is available on multiple sources, and on each of them it has a different ID. How then do we decide which one is the primary, and which one are

[2016-07-27 18:33] vitorbaptista commented on #278
@jessflem could you confirm this understanding, specially @benmeg's [comment](https://github.com/opentrials/opentrials/issues/278#issuecomment-235213621)

[2016-07-27 18:33] vitorbaptista opened #297 "Describe how we calculate discrepancies"

[2016-07-27 18:54] roll commented on #283
I mean some external solution/service with functionality like "select text area" and sent note to us (analogue to pybossa). Though I can't find any in Google. I was sure there should be.

[2016-07-27 18:56] roll commented on #276
I mean e.g. there is a trial:
[code]

[2016-07-27 19:03] vitorbaptista commented on #22
@benmeg Closing this for now. Please feel free to reopen

[2016-07-27 19:03] #22 closed

[2016-07-28 07:02] roll commented on #291
Why we should avoid it?

It's from FDA Drug Labels - see redash with issue name - https://dailymed.nlm.nih.gov/dailymed/drugInfo.cfm?setid=c929ecea-2001-433f-aa51-66a950bde734

So when we collect lookup tables for `conditions` and `interventions` there are subset of items not linked to trials but because it's lookup tables =) Just waiting for upcoming Hello Kitty trial :smile_cat:

[2016-07-28 07:17] roll commented on #291
Also we some really useful info in `database` for professionals like ICDPCS_CODE and NDC_CODE. Also `database` has description for this interventions but UI doesn't show it.

[2016-07-28 08:13] roll commented on #289
We need to start passing it from `warehouse` to `database`.

[2016-07-28 08:17] jessflem commented on #234
agreed with BenG above, potentially a three tier system (traffic lights):

trial status: red
target sample size, trail phase: amber
description (any long winded free text): green

EUCTR feels like the biggest barrier to any decent analysis on this right now.

[2016-07-28 08:20] roll commented on #293
ElasticSearch problem obviously. When you've reindexed last time?

[2016-07-28 08:29] jessflem commented on #278
I suppose that somehow ignoring the intra-EUCTR discrepancies is probably the best way forward for now. So agreed that:
a) a trail just registered on EUCTR won't have any discrepancies on any registry fields and
b) a trial with eg NCT and EUCTR records will not show discrepancies, and discrepancies will only show if between NCT and another registry

Just thinking out loud - is it potentially possi

[2016-07-28 08:39] roll opened #298 "Should we aggregate/merge EUCTR trials from different countries?"
Based on the latest discussions about EUCTR discrepancies #278 I suppose it's time to raise it. There is two strategies of showing EUCTR trials:
- EUCTR way when there is a master record when all trials for different countries handled as one object with available subobjects per country
- OpenTrials and WHO ICTRP way when trials from different countries are just independent objects which could be m

[2016-07-28 09:51] roll commented on #295
It looks like a requiring attention bug. Trials without associated records:

[code]

I'm investigating it.